In [1]:
import pandas as pd
import datetime as dt

In [2]:
dataset=pd.read_csv("Chiller_Cons.csv")

In [3]:
dataset

           DATE      A     B      C
0    2023-10-06   0.00  0.00   0.00
1    2023-10-07  10.28  5.78   6.04
2    2023-10-08   0.00  0.00  13.62
3    2023-10-09   8.96  7.84   5.80
4    2023-10-10   7.28  6.16   4.91
..          ...    ...   ...    ...
125  2024-02-08   5.37  4.56   2.97
126  2024-02-09   6.86  7.89   2.67
127  2024-02-10   8.42  8.10   3.47
128  2024-02-11   8.20  6.53   3.88
129  2024-02-12   3.02  1.49   1.56

[130 rows x 4 columns]

In [4]:
dataset.columns

Index(['DATE', 'A', 'B', 'C'], dtype='object')

In [5]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 130 entries, 0 to 129
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   DATE    130 non-null    object
 1   A       130 non-null    float64
 2   B       130 non-null    float64
 3   C       130 non-null    float64
dtypes: float64(3), object(1)
memory usage: 4.2+ KB

In [6]:
dataset['DATE']=pd.to_datetime(dataset['DATE'])

In [7]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 130 entries, 0 to 129
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   DATE    130 non-null    datetime64[ns]
 1   A       130 non-null    float64
 2   B       130 non-null    float64
 3   C       130 non-null    float64
dtypes: datetime64[ns](1), float64(3)
memory usage: 4.2 KB

In [8]:
startdate="2023-10-06"
enddate="2024-02-12"
df=dataset[dataset['DATE'].between(startdate,enddate)][['DATE', 'A']]

In [9]:
df

          DATE      A
0   2023-10-06   0.00
1   2023-10-07  10.28
2   2023-10-08   0.00
3   2023-10-09   8.96
4   2023-10-10   7.28
..         ...    ...
125 2024-02-08   5.37
126 2024-02-09   6.86
127 2024-02-10   8.42
128 2024-02-11   8.20
129 2024-02-12   3.02

[130 rows x 2 columns]

In [10]:
column='A'

In [11]:
from sklearn.preprocessing import MinMaxScaler
Ms=MinMaxScaler()
data1=Ms.fit_transform(df[[column]])
print("Len:",data1.shape)

Len: (130, 1)

In [12]:
len(data1)

130

In [13]:
training_size=round(len(data1)*0.80)
print(training_size)
X_train=data1[:training_size]
X_test=data1[training_size:]
print("X_train length:",X_train.shape)
print("X_test length:",X_test.shape)
y_train=data1[:training_size]
y_test=data1[training_size:]
print("y_train length:",y_train.shape)
print("y_test length:",y_test.shape)

104
X_train length: (104, 1)
X_test length: (26, 1)
y_train length: (104, 1)
y_test length: (26, 1)

In [14]:
import warnings
warnings.filterwarnings("ignore")

In [15]:
"""from statsmodels.tsa.arima.model import ARIMA
model = ARIMA(data1, order=(1,1,1))#Autoregressive Integrated Moving Average (ARIMA)
model_fit = model.fit()
# make prediction
y_pred= model_fit.predict(len(stk_data), len(stk_data)-1)
print(y_pred)
from stockFunctions import rmsemape
rmsemape(stkk,predicted_stock_price_test_oriP["Char C"])"""

'from statsmodels.tsa.arima.model import ARIMA\nmodel = ARIMA(data1, order=(1,1,1))#Autoregressive Integrated Moving Average (ARIMA)\nmodel_fit = model.fit()\n# make prediction\ny_pred= model_fit.predict(len(stk_data), len(stk_data)-1)\nprint(y_pred)\nfrom stockFunctions import rmsemape\nrmsemape(stkk,predicted_stock_price_test_oriP["Char C"])'

In [38]:
orders=[(0,0,0),(0,0,1),(2,0,1),(1,1,1)]
#orderslist=[]
#rscorelist=[]
for i in orders:
    #orderslist.append(i)
    from statsmodels.tsa.statespace.sarimax import SARIMAX
    model = SARIMAX(data1, order=i, seasonal_order=(0,0,0,5))
    model_fit = model.fit()
    # make prediction
    y_pred= model_fit.predict(0, len(data1)-1)
    #print(y_pred)
    from stockFunctions import rmsemape
    rmsemape(data1,y_pred)

RMSE-Testset: 0.6148322979307077
maPe-Testset: 0.9307692307692308
RMSE-Testset: 0.43028507262345045
maPe-Testset: 34921792274545.8
RMSE-Testset: 0.25806532347560146
maPe-Testset: 124701203390785.11
RMSE-Testset: 0.2581297691442693
maPe-Testset: 126970183230991.0

In [39]:
#from stockFunctions import graph
#graph(data1,y_pred,"Actual","predicted","Quality data","DATE","A")

In [40]:
len(data1)

130

In [41]:
y_test

array([[0.64666667],
       [0.68666667],
       [0.        ],
       [0.66571429],
       [0.13619048],
       [0.3152381 ],
       [0.32095238],
       [0.63714286],
       [0.71428571],
       [0.16952381],
       [0.11904762],
       [0.05619048],
       [0.3647619 ],
       [0.67238095],
       [0.62190476],
       [0.61428571],
       [0.75809524],
       [0.71142857],
       [0.32571429],
       [0.56285714],
       [0.74380952],
       [0.51142857],
       [0.65333333],
       [0.80190476],
       [0.78095238],
       [0.28761905]])

In [42]:
from stockFunctions import conversionSingle
aTestNormTable=conversionSingle(data1,[column])

In [43]:
aTestNormTable

            A
0         0.0
1    0.979048
2         0.0
3    0.853333
4    0.693333
..        ...
125  0.511429
126  0.653333
127  0.801905
128  0.780952
129  0.287619

[130 rows x 1 columns]

In [44]:
actual_stock_price_test_ori=Ms.inverse_transform(aTestNormTable)

In [45]:
actual_stock_price_test_ori

array([[ 0.  ],
       [10.28],
       [ 0.  ],
       [ 8.96],
       [ 7.28],
       [ 9.46],
       [ 9.26],
       [ 8.27],
       [ 8.39],
       [ 3.07],
       [ 7.06],
       [ 5.8 ],
       [ 8.63],
       [ 8.29],
       [ 8.43],
       [ 7.78],
       [ 5.05],
       [ 6.41],
       [ 8.38],
       [ 6.03],
       [ 8.28],
       [ 9.46],
       [ 9.44],
       [ 2.39],
       [ 5.75],
       [ 8.62],
       [ 8.7 ],
       [ 9.7 ],
       [ 9.06],
       [ 9.57],
       [ 3.26],
       [ 5.25],
       [ 8.69],
       [10.01],
       [ 8.77],
       [10.5 ],
       [ 7.54],
       [ 1.14],
       [ 1.02],
       [ 3.81],
       [ 6.16],
       [ 8.5 ],
       [ 8.59],
       [ 8.23],
       [ 3.22],
       [ 5.72],
       [ 7.07],
       [ 7.73],
       [ 6.95],
       [ 9.34],
       [ 8.14],
       [ 4.14],
       [ 5.44],
       [ 9.32],
       [ 7.74],
       [ 4.94],
       [ 6.89],
       [ 8.04],
       [ 3.21],
       [ 0.  ],
       [ 0.  ],
       [ 2.54],
       [ 3.99],
       [ 5.77],
       [ 8.68],
       [ 3.24],
       [ 4.91],
       [ 6.85],
       [ 6.93],
       [ 4.56],
       [ 7.04],
       [ 7.33],
       [ 2.63],
       [ 5.32],
       [ 7.27],
       [ 6.5 ],
       [ 5.81],
       [ 6.29],
       [ 4.98],
       [ 1.73],
       [ 2.73],
       [ 3.94],
       [ 7.1 ],
       [ 7.14],
       [ 7.95],
       [ 4.82],
       [ 0.  ],
       [ 0.  ],
       [ 0.  ],
       [ 0.  ],
       [ 7.71],
       [ 8.14],
       [ 7.58],
       [ 2.68],
       [ 4.23],
       [ 7.32],
       [ 8.87],
       [ 5.55],
       [ 7.01],
       [ 7.06],
       [ 2.25],
       [ 2.59],
       [ 1.65],
       [ 3.35],
       [ 6.79],
       [ 7.21],
       [ 0.  ],
       [ 6.99],
       [ 1.43],
       [ 3.31],
       [ 3.37],
       [ 6.69],
       [ 7.5 ],
       [ 1.78],
       [ 1.25],
       [ 0.59],
       [ 3.83],
       [ 7.06],
       [ 6.53],
       [ 6.45],
       [ 7.96],
       [ 7.47],
       [ 3.42],
       [ 5.91],
       [ 7.81],
       [ 5.37],
       [ 6.86],
       [ 8.42],
       [ 8.2 ],
       [ 3.02]])

In [46]:
actual_stock_price_test_oriA=conversionSingle(actual_stock_price_test_ori,[column])

In [47]:
actual_stock_price_test_oriA

         A
0      0.0
1    10.28
2      0.0
3     8.96
4     7.28
..     ...
125   5.37
126   6.86
127   8.42
128    8.2
129   3.02

[130 rows x 1 columns]

In [48]:
from stockFunctions import conversionSingle
aTestNormTable=conversionSingle(data1,[column])
actual_stock_price_test_ori=Ms.inverse_transform(aTestNormTable)
actual_stock_price_test_oriA=conversionSingle(actual_stock_price_test_ori,[column])

In [49]:
from stockFunctions import conversionSingle
pTestNormTable=conversionSingle(y_pred,[column])
predicted_stock_price_test_ori=Ms.inverse_transform(pTestNormTable)
predicted_stock_price_test_oriP=conversionSingle(predicted_stock_price_test_ori,[column])

In [50]:
#from stockFunctions import graph
#graph(actual_stock_price_test_oriA,predicted_stock_price_test_oriP,"Actual","Predicted","Quality data","Time","Char A")

In [51]:
from stockFunctions import rmsemape
rmsemape(actual_stock_price_test_oriA,predicted_stock_price_test_oriP)

RMSE-Testset: 2.710362576014828
maPe-Testset: 1333186923925400.5

In [52]:
forecast=model_fit.predict(len(data1), len(data1)+15)

In [53]:
forecast

array([0.43096251, 0.47788499, 0.49324473, 0.49827264, 0.49991849,
       0.50045725, 0.5006336 , 0.50069133, 0.50071023, 0.50071642,
       0.50071844, 0.50071911, 0.50071932, 0.50071939, 0.50071942,
       0.50071942])

In [54]:
from stockFunctions import conversionSingle
fTestNormTable=conversionSingle(forecast,["CharAfore"])
forecast_stock_price_test_ori=Ms.inverse_transform(fTestNormTable)
forecast_stock_price_test_oriF=conversionSingle(forecast_stock_price_test_ori,["CharAfore"])

In [55]:
forecast_stock_price_test_oriF

   CharAfore
0   4.525106
1   5.017792
2    5.17907
3   5.231863
4   5.249144
5   5.254801
6   5.256653
7   5.257259
8   5.257457
9   5.257522
10  5.257544
11  5.257551
12  5.257553
13  5.257554
14  5.257554
15  5.257554