In [1]:
import pandas as pd
import datetime as dt

In [2]:
dataset=pd.read_csv("Chiller_Cons.csv")

In [3]:
dataset

           DATE      A     B      C
0    2023-10-06   0.00  0.00   0.00
1    2023-10-07  10.28  5.78   6.04
2    2023-10-08   0.00  0.00  13.62
3    2023-10-09   8.96  7.84   5.80
4    2023-10-10   7.28  6.16   4.91
..          ...    ...   ...    ...
125  2024-02-08   5.37  4.56   2.97
126  2024-02-09   6.86  7.89   2.67
127  2024-02-10   8.42  8.10   3.47
128  2024-02-11   8.20  6.53   3.88
129  2024-02-12   3.02  1.49   1.56

[130 rows x 4 columns]

In [4]:
dataset.columns

Index(['DATE', 'A', 'B', 'C'], dtype='object')

In [5]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 130 entries, 0 to 129
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   DATE    130 non-null    object
 1   A       130 non-null    float64
 2   B       130 non-null    float64
 3   C       130 non-null    float64
dtypes: float64(3), object(1)
memory usage: 4.2+ KB

In [6]:
dataset['DATE']=pd.to_datetime(dataset['DATE'])

In [7]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 130 entries, 0 to 129
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   DATE    130 non-null    datetime64[ns]
 1   A       130 non-null    float64
 2   B       130 non-null    float64
 3   C       130 non-null    float64
dtypes: datetime64[ns](1), float64(3)
memory usage: 4.2 KB

In [8]:
startdate="2023-10-06"
enddate="2024-02-12"
df=dataset[dataset['DATE'].between(startdate,enddate)][['DATE', 'B']]

In [9]:
df

          DATE     B
0   2023-10-06  0.00
1   2023-10-07  5.78
2   2023-10-08  0.00
3   2023-10-09  7.84
4   2023-10-10  6.16
..         ...   ...
125 2024-02-08  4.56
126 2024-02-09  7.89
127 2024-02-10  8.10
128 2024-02-11  6.53
129 2024-02-12  1.49

[130 rows x 2 columns]

In [12]:
column='B'

In [13]:
from sklearn.preprocessing import MinMaxScaler
Ms=MinMaxScaler()
data1=Ms.fit_transform(df[[column]])
print("Len:",data1.shape)

Len: (130, 1)

In [14]:
len(data1)

130

In [15]:
training_size=round(len(data1)*0.80)
print(training_size)
X_train=data1[:training_size]
X_test=data1[training_size:]
print("X_train length:",X_train.shape)
print("X_test length:",X_test.shape)
y_train=data1[:training_size]
y_test=data1[training_size:]
print("y_train length:",y_train.shape)
print("y_test length:",y_test.shape)

104
X_train length: (104, 1)
X_test length: (26, 1)
y_train length: (104, 1)
y_test length: (26, 1)

In [16]:
import warnings
warnings.filterwarnings("ignore")

In [17]:
"""from statsmodels.tsa.arima.model import ARIMA
model = ARIMA(data1, order=(1,1,1))#Autoregressive Integrated Moving Average (ARIMA)
model_fit = model.fit()
# make prediction
y_pred= model_fit.predict(len(stk_data), len(stk_data)-1)
print(y_pred)
from stockFunctions import rmsemape
rmsemape(stkk,predicted_stock_price_test_oriP["Char C"])"""

'from statsmodels.tsa.arima.model import ARIMA\nmodel = ARIMA(data1, order=(1,1,1))#Autoregressive Integrated Moving Average (ARIMA)\nmodel_fit = model.fit()\n# make prediction\ny_pred= model_fit.predict(len(stk_data), len(stk_data)-1)\nprint(y_pred)\nfrom stockFunctions import rmsemape\nrmsemape(stkk,predicted_stock_price_test_oriP["Char C"])'

In [18]:
orders=[(0,0,0),(0,0,1),(2,0,1),(1,1,1)]
#orderslist=[]
#rscorelist=[]
for i in orders:
    #orderslist.append(i)
    from statsmodels.tsa.statespace.sarimax import SARIMAX
    model = SARIMAX(data1, order=i, seasonal_order=(0,0,10,5))
    model_fit = model.fit()
    # make prediction
    y_pred= model_fit.predict(0, len(data1)-1)
    #print(y_pred)
    from stockFunctions import rmsemape
    rmsemape(data1,y_pred)

C:\Users\Hi\anaconda3\envs\aiads\Lib\site-packages\statsmodels\base\model.py:607: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  warnings.warn("Maximum Likelihood optimization failed to "

RMSE-Testset: 0.2835992390286587
maPe-Testset: 72096351333522.61

C:\Users\Hi\anaconda3\envs\aiads\Lib\site-packages\statsmodels\base\model.py:607: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  warnings.warn("Maximum Likelihood optimization failed to "

RMSE-Testset: 0.26695212337511814
maPe-Testset: 64034798070398.14

C:\Users\Hi\anaconda3\envs\aiads\Lib\site-packages\statsmodels\base\model.py:607: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  warnings.warn("Maximum Likelihood optimization failed to "

RMSE-Testset: 0.2130917865798178
maPe-Testset: 66189438170100.99

C:\Users\Hi\anaconda3\envs\aiads\Lib\site-packages\statsmodels\base\model.py:607: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  warnings.warn("Maximum Likelihood optimization failed to "

RMSE-Testset: 0.20842098465941672
maPe-Testset: 76224375802386.77

In [19]:
#from stockFunctions import graph
#graph(data1,y_pred,"Actual","predicted","Quality data","DATE","A")

In [20]:
len(data1)

130

In [21]:
y_test

array([[0.45822339],
       [0.58575198],
       [0.        ],
       [0.63676341],
       [0.2233949 ],
       [0.44415128],
       [0.59542656],
       [0.64467898],
       [0.58487247],
       [0.31662269],
       [0.17854002],
       [0.13808267],
       [0.46877748],
       [0.58399296],
       [0.43711522],
       [0.67810026],
       [0.78715919],
       [0.61301671],
       [0.21284081],
       [0.61389622],
       [0.75813544],
       [0.40105541],
       [0.6939314 ],
       [0.71240106],
       [0.57431838],
       [0.13104661]])

In [22]:
from stockFunctions import conversionSingle
aTestNormTable=conversionSingle(data1,[column])

In [23]:
aTestNormTable

            B
0         0.0
1    0.508355
2         0.0
3    0.689534
4    0.541777
..        ...
125  0.401055
126  0.693931
127  0.712401
128  0.574318
129  0.131047

[130 rows x 1 columns]

In [24]:
actual_stock_price_test_ori=Ms.inverse_transform(aTestNormTable)

In [25]:
actual_stock_price_test_ori

array([[ 0.  ],
       [ 5.78],
       [ 0.  ],
       [ 7.84],
       [ 6.16],
       [ 9.46],
       [11.12],
       [11.  ],
       [ 7.84],
       [ 3.21],
       [ 4.48],
       [ 8.53],
       [ 8.21],
       [ 8.11],
       [11.37],
       [ 9.35],
       [ 2.92],
       [ 7.12],
       [ 7.28],
       [ 8.17],
       [ 9.4 ],
       [10.38],
       [ 9.58],
       [ 2.49],
       [ 7.55],
       [ 7.65],
       [ 6.75],
       [ 8.95],
       [ 8.42],
       [ 7.83],
       [ 3.86],
       [ 8.  ],
       [ 7.66],
       [ 8.49],
       [ 8.23],
       [ 7.16],
       [ 5.48],
       [ 2.24],
       [ 2.13],
       [ 7.04],
       [ 6.03],
       [ 8.29],
       [ 8.83],
       [ 8.22],
       [ 3.71],
       [ 4.84],
       [ 8.62],
       [ 7.13],
       [ 8.68],
       [ 8.92],
       [ 6.57],
       [ 2.79],
       [ 4.29],
       [ 6.41],
       [ 7.53],
       [ 4.65],
       [ 8.42],
       [ 3.7 ],
       [ 3.46],
       [ 0.  ],
       [ 2.35],
       [ 3.15],
       [ 5.01],
       [ 6.57],
       [ 7.33],
       [ 2.82],
       [ 4.74],
       [ 7.54],
       [ 6.74],
       [ 7.71],
       [ 7.21],
       [ 5.69],
       [ 3.27],
       [ 5.32],
       [ 7.65],
       [ 4.69],
       [ 5.35],
       [ 7.76],
       [ 7.15],
       [ 3.61],
       [ 3.85],
       [ 5.77],
       [ 8.  ],
       [ 7.85],
       [ 9.  ],
       [ 5.05],
       [ 0.  ],
       [ 0.  ],
       [ 0.  ],
       [ 0.  ],
       [ 8.08],
       [ 7.11],
       [ 7.38],
       [ 2.77],
       [ 5.56],
       [ 7.37],
       [ 7.39],
       [ 8.04],
       [ 8.32],
       [ 8.79],
       [ 3.51],
       [ 3.28],
       [ 3.02],
       [ 5.74],
       [ 5.21],
       [ 6.66],
       [ 0.  ],
       [ 7.24],
       [ 2.54],
       [ 5.05],
       [ 6.77],
       [ 7.33],
       [ 6.65],
       [ 3.6 ],
       [ 2.03],
       [ 1.57],
       [ 5.33],
       [ 6.64],
       [ 4.97],
       [ 7.71],
       [ 8.95],
       [ 6.97],
       [ 2.42],
       [ 6.98],
       [ 8.62],
       [ 4.56],
       [ 7.89],
       [ 8.1 ],
       [ 6.53],
       [ 1.49]])

In [26]:
actual_stock_price_test_oriA=conversionSingle(actual_stock_price_test_ori,[column])

In [27]:
actual_stock_price_test_oriA

        B
0     0.0
1    5.78
2     0.0
3    7.84
4    6.16
..    ...
125  4.56
126  7.89
127   8.1
128  6.53
129  1.49

[130 rows x 1 columns]

In [28]:
from stockFunctions import conversionSingle
aTestNormTable=conversionSingle(data1,[column])
actual_stock_price_test_ori=Ms.inverse_transform(aTestNormTable)
actual_stock_price_test_oriA=conversionSingle(actual_stock_price_test_ori,[column])

In [29]:
from stockFunctions import conversionSingle
pTestNormTable=conversionSingle(y_pred,[column])
predicted_stock_price_test_ori=Ms.inverse_transform(pTestNormTable)
predicted_stock_price_test_oriP=conversionSingle(predicted_stock_price_test_ori,[column])

In [30]:
#from stockFunctions import graph
#graph(actual_stock_price_test_oriA,predicted_stock_price_test_oriP,"Actual","Predicted","Quality data","Time","Char A")

In [31]:
from stockFunctions import rmsemape
rmsemape(actual_stock_price_test_oriA,predicted_stock_price_test_oriP)

RMSE-Testset: 2.369746595577568
maPe-Testset: 866671152873133.6

In [36]:
forecast=model_fit.predict(len(data1), len(data1)+0)

In [37]:
forecast

array([0.19888528])

In [40]:
from stockFunctions import conversionSingle
fTestNormTable=conversionSingle(forecast,["B"])
forecast_stock_price_test_ori=Ms.inverse_transform(fTestNormTable)
forecast_stock_price_test_oriF=conversionSingle(forecast_stock_price_test_ori,["Bfore"])

In [41]:
forecast_stock_price_test_oriF

      Bfore
0  2.261326