In [1]:
import pandas as pd
import datetime as dt

In [2]:
dataset=pd.read_csv("Chiller_Cons.csv")

In [3]:
dataset

           DATE      A     B      C
0    2023-10-06   0.00  0.00   0.00
1    2023-10-07  10.28  5.78   6.04
2    2023-10-08   0.00  0.00  13.62
3    2023-10-09   8.96  7.84   5.80
4    2023-10-10   7.28  6.16   4.91
..          ...    ...   ...    ...
125  2024-02-08   5.37  4.56   2.97
126  2024-02-09   6.86  7.89   2.67
127  2024-02-10   8.42  8.10   3.47
128  2024-02-11   8.20  6.53   3.88
129  2024-02-12   3.02  1.49   1.56

[130 rows x 4 columns]

In [4]:
dataset.columns

Index(['DATE', 'A', 'B', 'C'], dtype='object')

In [5]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 130 entries, 0 to 129
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   DATE    130 non-null    object
 1   A       130 non-null    float64
 2   B       130 non-null    float64
 3   C       130 non-null    float64
dtypes: float64(3), object(1)
memory usage: 4.2+ KB

In [6]:
dataset['DATE']=pd.to_datetime(dataset['DATE'])

In [7]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 130 entries, 0 to 129
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   DATE    130 non-null    datetime64[ns]
 1   A       130 non-null    float64
 2   B       130 non-null    float64
 3   C       130 non-null    float64
dtypes: datetime64[ns](1), float64(3)
memory usage: 4.2 KB

In [8]:
startdate="2023-10-06"
enddate="2024-02-12"
df=dataset[dataset['DATE'].between(startdate,enddate)][['DATE', 'C']]

In [9]:
df

          DATE      C
0   2023-10-06   0.00
1   2023-10-07   6.04
2   2023-10-08  13.62
3   2023-10-09   5.80
4   2023-10-10   4.91
..         ...    ...
125 2024-02-08   2.97
126 2024-02-09   2.67
127 2024-02-10   3.47
128 2024-02-11   3.88
129 2024-02-12   1.56

[130 rows x 2 columns]

In [10]:
column='C'

In [11]:
from sklearn.preprocessing import MinMaxScaler
Ms=MinMaxScaler()
data1=Ms.fit_transform(df[[column]])
print("Len:",data1.shape)

Len: (130, 1)

In [12]:
len(data1)

130

In [13]:
training_size=round(len(data1)*0.80)
print(training_size)
X_train=data1[:training_size]
X_test=data1[training_size:]
print("X_train length:",X_train.shape)
print("X_test length:",X_test.shape)
y_train=data1[:training_size]
y_test=data1[training_size:]
print("y_train length:",y_train.shape)
print("y_test length:",y_test.shape)

104
X_train length: (104, 1)
X_test length: (26, 1)
y_train length: (104, 1)
y_test length: (26, 1)

In [14]:
import warnings
warnings.filterwarnings("ignore")

In [15]:
"""from statsmodels.tsa.arima.model import ARIMA
model = ARIMA(data1, order=(1,1,1))#Autoregressive Integrated Moving Average (ARIMA)
model_fit = model.fit()
# make prediction
y_pred= model_fit.predict(len(stk_data), len(stk_data)-1)
print(y_pred)
from stockFunctions import rmsemape
rmsemape(stkk,predicted_stock_price_test_oriP["Char C"])"""

'from statsmodels.tsa.arima.model import ARIMA\nmodel = ARIMA(data1, order=(1,1,1))#Autoregressive Integrated Moving Average (ARIMA)\nmodel_fit = model.fit()\n# make prediction\ny_pred= model_fit.predict(len(stk_data), len(stk_data)-1)\nprint(y_pred)\nfrom stockFunctions import rmsemape\nrmsemape(stkk,predicted_stock_price_test_oriP["Char C"])'

In [16]:
orders=[(0,0,0),(0,0,1),(2,0,1),(1,1,1)]
#orderslist=[]
#rscorelist=[]
for i in orders:
    #orderslist.append(i)
    from statsmodels.tsa.statespace.sarimax import SARIMAX
    model = SARIMAX(data1, order=i, seasonal_order=(0,0,10,5))
    model_fit = model.fit()
    # make prediction
    y_pred= model_fit.predict(0, len(data1)-1)
    #print(y_pred)
    from stockFunctions import rmsemape
    rmsemape(data1,y_pred)

C:\Users\Hi\anaconda3\envs\aiads\Lib\site-packages\statsmodels\base\model.py:607: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  warnings.warn("Maximum Likelihood optimization failed to "

RMSE-Testset: 0.1555981858225718
maPe-Testset: 14646292570619.805

C:\Users\Hi\anaconda3\envs\aiads\Lib\site-packages\statsmodels\base\model.py:607: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  warnings.warn("Maximum Likelihood optimization failed to "

RMSE-Testset: 0.12809773696909194
maPe-Testset: 15365553904451.482

C:\Users\Hi\anaconda3\envs\aiads\Lib\site-packages\statsmodels\base\model.py:607: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  warnings.warn("Maximum Likelihood optimization failed to "

RMSE-Testset: 0.10921321708441917
maPe-Testset: 13990978478353.77

C:\Users\Hi\anaconda3\envs\aiads\Lib\site-packages\statsmodels\base\model.py:607: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  warnings.warn("Maximum Likelihood optimization failed to "

RMSE-Testset: 0.10258094406252267
maPe-Testset: 17512316174565.178

In [17]:
#from stockFunctions import graph
#graph(data1,y_pred,"Actual","predicted","Quality data","DATE","A")

In [18]:
len(data1)

130

In [19]:
y_test

array([[0.25330396],
       [0.29809104],
       [0.3979442 ],
       [0.24082232],
       [0.20264317],
       [0.24008811],
       [0.2298091 ],
       [0.20704846],
       [0.19970631],
       [0.20558003],
       [0.17474302],
       [0.14317181],
       [0.14537445],
       [0.15932452],
       [0.20778267],
       [0.25844347],
       [0.14684288],
       [0.16519824],
       [0.14243759],
       [0.08370044],
       [0.20998532],
       [0.21806167],
       [0.19603524],
       [0.25477239],
       [0.28487518],
       [0.11453744]])

In [20]:
from stockFunctions import conversionSingle
aTestNormTable=conversionSingle(data1,[column])

In [21]:
aTestNormTable

            C
0         0.0
1    0.443465
2         1.0
3    0.425844
4    0.360499
..        ...
125  0.218062
126  0.196035
127  0.254772
128  0.284875
129  0.114537

[130 rows x 1 columns]

In [22]:
actual_stock_price_test_ori=Ms.inverse_transform(aTestNormTable)

In [23]:
actual_stock_price_test_ori

array([[ 0.  ],
       [ 6.04],
       [13.62],
       [ 5.8 ],
       [ 4.91],
       [ 6.07],
       [ 4.38],
       [ 3.94],
       [ 4.67],
       [ 3.46],
       [ 4.15],
       [ 4.32],
       [ 4.6 ],
       [ 4.68],
       [ 3.21],
       [ 3.88],
       [ 2.8 ],
       [ 3.55],
       [ 3.62],
       [ 3.02],
       [ 2.91],
       [ 2.94],
       [ 5.81],
       [ 3.75],
       [ 3.72],
       [ 4.25],
       [ 3.4 ],
       [ 4.69],
       [ 3.99],
       [ 3.98],
       [ 3.18],
       [ 3.47],
       [ 4.13],
       [ 4.28],
       [ 4.67],
       [ 4.48],
       [ 5.01],
       [ 3.92],
       [ 2.94],
       [ 3.88],
       [ 3.81],
       [ 2.53],
       [ 3.56],
       [ 3.95],
       [ 3.11],
       [ 3.65],
       [ 3.86],
       [ 4.45],
       [ 4.15],
       [ 3.41],
       [ 2.51],
       [ 2.69],
       [ 3.62],
       [ 3.54],
       [ 2.08],
       [ 3.46],
       [ 3.12],
       [ 4.27],
       [ 2.1 ],
       [ 4.37],
       [ 2.83],
       [ 3.34],
       [ 3.63],
       [ 4.02],
       [ 4.36],
       [ 3.24],
       [ 3.6 ],
       [ 3.55],
       [ 3.89],
       [ 3.43],
       [ 4.4 ],
       [ 4.32],
       [ 2.08],
       [ 3.67],
       [ 4.02],
       [ 3.87],
       [ 3.12],
       [ 2.48],
       [ 4.91],
       [ 2.74],
       [ 1.95],
       [ 3.33],
       [ 4.01],
       [ 3.43],
       [ 3.48],
       [ 4.52],
       [ 0.  ],
       [ 0.  ],
       [ 0.  ],
       [ 1.3 ],
       [ 3.55],
       [ 4.69],
       [ 4.3 ],
       [ 2.9 ],
       [ 3.22],
       [ 3.56],
       [ 3.84],
       [ 4.22],
       [ 3.02],
       [ 3.19],
       [ 1.34],
       [ 1.02],
       [ 1.02],
       [ 3.  ],
       [ 3.45],
       [ 4.06],
       [ 5.42],
       [ 3.28],
       [ 2.76],
       [ 3.27],
       [ 3.13],
       [ 2.82],
       [ 2.72],
       [ 2.8 ],
       [ 2.38],
       [ 1.95],
       [ 1.98],
       [ 2.17],
       [ 2.83],
       [ 3.52],
       [ 2.  ],
       [ 2.25],
       [ 1.94],
       [ 1.14],
       [ 2.86],
       [ 2.97],
       [ 2.67],
       [ 3.47],
       [ 3.88],
       [ 1.56]])

In [24]:
actual_stock_price_test_oriA=conversionSingle(actual_stock_price_test_ori,[column])

In [25]:
actual_stock_price_test_oriA

         C
0      0.0
1     6.04
2    13.62
3      5.8
4     4.91
..     ...
125   2.97
126   2.67
127   3.47
128   3.88
129   1.56

[130 rows x 1 columns]

In [26]:
from stockFunctions import conversionSingle
aTestNormTable=conversionSingle(data1,[column])
actual_stock_price_test_ori=Ms.inverse_transform(aTestNormTable)
actual_stock_price_test_oriA=conversionSingle(actual_stock_price_test_ori,[column])

In [27]:
from stockFunctions import conversionSingle
pTestNormTable=conversionSingle(y_pred,[column])
predicted_stock_price_test_ori=Ms.inverse_transform(pTestNormTable)
predicted_stock_price_test_oriP=conversionSingle(predicted_stock_price_test_ori,[column])

In [28]:
#from stockFunctions import graph
#graph(actual_stock_price_test_oriA,predicted_stock_price_test_oriP,"Actual","Predicted","Quality data","Time","Char A")

In [29]:
from stockFunctions import rmsemape
rmsemape(actual_stock_price_test_oriA,predicted_stock_price_test_oriP)

RMSE-Testset: 1.3971524581315589
maPe-Testset: 238517746297574.7

In [30]:
forecast=model_fit.predict(len(data1), len(data1)+0)

In [31]:
forecast

array([0.20557192])

In [32]:
from stockFunctions import conversionSingle
fTestNormTable=conversionSingle(forecast,["C"])
forecast_stock_price_test_ori=Ms.inverse_transform(fTestNormTable)
forecast_stock_price_test_oriF=conversionSingle(forecast_stock_price_test_ori,["Cfore"])

In [33]:
forecast_stock_price_test_oriF

      Cfore
0  2.799889