In [1]:
import pandas as pd
import datetime as dt

In [2]:
dataset=pd.read_csv("Chiller Cons1.csv")

In [3]:
dataset

           DATE      A     B      C
0    2023-10-06  10.28  5.78   6.04
1    2023-10-07   8.96  7.84  13.62
2    2023-10-08   4.53  3.64   5.80
3    2023-10-09   8.06  8.07   4.91
4    2023-10-10   9.26  9.01   6.07
..          ...    ...   ...    ...
106  2024-01-20   5.37  5.23   2.86
107  2024-01-21   4.72  3.73   2.97
108  2024-01-22   5.23  5.20   2.67
109  2024-01-23   5.50  5.59   3.47
110  2024-01-24   3.02  4.26   3.88

[111 rows x 4 columns]

In [4]:
dataset.columns

Index(['DATE', 'A', 'B', 'C'], dtype='object')

In [5]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 111 entries, 0 to 110
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   DATE    111 non-null    object
 1   A       111 non-null    float64
 2   B       111 non-null    float64
 3   C       111 non-null    float64
dtypes: float64(3), object(1)
memory usage: 3.6+ KB

In [6]:
dataset['DATE']=pd.to_datetime(dataset['DATE'])

In [7]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 111 entries, 0 to 110
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   DATE    111 non-null    datetime64[ns]
 1   A       111 non-null    float64
 2   B       111 non-null    float64
 3   C       111 non-null    float64
dtypes: datetime64[ns](1), float64(3)
memory usage: 3.6 KB

In [8]:
startdate="2024-01-14"
enddate="2024-01-24"
df=dataset[dataset['DATE'].between(startdate,enddate)][['DATE', 'A']]

In [9]:
df

          DATE     A
100 2024-01-14  5.29
101 2024-01-15  5.55
102 2024-01-16  5.41
103 2024-01-17  3.42
104 2024-01-18  4.24
105 2024-01-19  5.08
106 2024-01-20  5.37
107 2024-01-21  4.72
108 2024-01-22  5.23
109 2024-01-23  5.50
110 2024-01-24  3.02

In [10]:
column='A'

In [11]:
from sklearn.preprocessing import MinMaxScaler
Ms=MinMaxScaler()
data1=Ms.fit_transform(df[[column]])
print("Len:",data1.shape)

Len: (11, 1)

In [12]:
len(data1)

11

In [13]:
training_size=round(len(data1)*0.80)
print(training_size)
X_train=data1[:training_size]
X_test=data1[training_size:]
print("X_train length:",X_train.shape)
print("X_test length:",X_test.shape)
y_train=data1[:training_size]
y_test=data1[training_size:]
print("y_train length:",y_train.shape)
print("y_test length:",y_test.shape)

9
X_train length: (9, 1)
X_test length: (2, 1)
y_train length: (9, 1)
y_test length: (2, 1)

In [14]:
import warnings
warnings.filterwarnings("ignore")

In [15]:
#pip install statsmodels

In [16]:
from sklearn.metrics import mean_squared_error
trends=['n','t','c','ct']
orders=[(0,0,1),(0,0,2),(0,0,3)]
from statsmodels.tsa.arima.model import ARIMA
for td in trends:
        
        #print(td)
        #trendslist.append(td)
    model = ARIMA(X_train, order=(0,0,10),trend=td,)
    model_fit = model.fit()
        # make prediction
    y_pred= model_fit.predict(len(X_train), len(data1)-1)
        #print(y_pred)
    from sklearn.metrics import r2_score
    mse=mean_squared_error(y_test,y_pred,squared=False)
    from stockFunctions import rmsemape
    print("Trend={}".format(td))
    rmsemape(y_test,y_pred)
    print("************")

C:\Users\Hi\anaconda3\envs\aiads\Lib\site-packages\statsmodels\base\model.py:607: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  warnings.warn("Maximum Likelihood optimization failed to "

Trend=n
RMSE-Testset: 0.33009863583599763
maPe-Testset: 530932313245982.3
************

C:\Users\Hi\anaconda3\envs\aiads\Lib\site-packages\statsmodels\base\model.py:607: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  warnings.warn("Maximum Likelihood optimization failed to "

Trend=t
RMSE-Testset: 1.3436691770551252
maPe-Testset: 4086627838069079.5
************

C:\Users\Hi\anaconda3\envs\aiads\Lib\site-packages\statsmodels\base\model.py:607: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  warnings.warn("Maximum Likelihood optimization failed to "

Trend=c
RMSE-Testset: 0.5189414159371393
maPe-Testset: 1293594137894252.2
************
Trend=ct
RMSE-Testset: 0.41272884768865353
maPe-Testset: 945968613298427.0
************

C:\Users\Hi\anaconda3\envs\aiads\Lib\site-packages\statsmodels\base\model.py:607: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  warnings.warn("Maximum Likelihood optimization failed to "

In [17]:
len(y_test)

2

In [29]:
#i=1
td="n"
model = ARIMA(X_train, order=(0,0,30),trend=td)
model_fit = model.fit()
# make prediction
y_pred= model_fit.predict(len(X_train), len(data1)-1)
#print(y_pred)
from sklearn.metrics import r2_score
mse=mean_squared_error(y_test,y_pred,squared=False)
from stockFunctions import rmsemape
print("Trend={}".format(td))
rmsemape(y_test,y_pred)
print("************")

Trend=n
RMSE-Testset: 0.5054669521548799
maPe-Testset: 509995151502692.75
************

C:\Users\Hi\anaconda3\envs\aiads\Lib\site-packages\statsmodels\base\model.py:607: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  warnings.warn("Maximum Likelihood optimization failed to "

In [30]:
#pip install Pillow

In [31]:
#from stockFunctions import graph
#graph(y_test,y_pred,"Actual","predicted","Quality data","Time","Char A")

In [32]:
len(data1)

11

In [33]:
y_test

array([[0.98023715],
       [0.        ]])

In [34]:
from stockFunctions import conversionSingle
aTestNormTable=conversionSingle(y_test,[column])

In [35]:
aTestNormTable

          A
0  0.980237
1       0.0

In [36]:
actual_stock_price_test_ori=Ms.inverse_transform(aTestNormTable)

In [37]:
actual_stock_price_test_ori

array([[5.5 ],
       [3.02]])

In [38]:
actual_stock_price_test_oriA=conversionSingle(actual_stock_price_test_ori,[column])

In [39]:
actual_stock_price_test_oriA

      A
0   5.5
1  3.02

In [40]:
from stockFunctions import conversionSingle
aTestNormTable=conversionSingle(y_test,[column])
actual_stock_price_test_ori=Ms.inverse_transform(aTestNormTable)
actual_stock_price_test_oriA=conversionSingle(actual_stock_price_test_ori,[column])

In [41]:
from stockFunctions import conversionSingle
pTestNormTable=conversionSingle(y_pred,[column])
predicted_stock_price_test_ori=Ms.inverse_transform(pTestNormTable)
predicted_stock_price_test_oriP=conversionSingle(predicted_stock_price_test_ori,[column])

In [42]:
#from stockFunctions import graph
#graph(actual_stock_price_test_oriA,predicted_stock_price_test_oriP,"Actual","Predicted","Quality data","Time","Char A")

In [43]:
from stockFunctions import rmsemape
rmsemape(actual_stock_price_test_oriA,predicted_stock_price_test_oriP)

RMSE-Testset: 1.2788313889518461
maPe-Testset: 0.2508105630566817

In [44]:
forecast=model_fit.predict(len(data1), len(data1)+10)

In [45]:
forecast

array([0.5301144 , 0.87553437, 0.42738399, 0.46626581, 0.30535008,
       0.18736943, 0.16468296, 0.54319049, 0.31465512, 0.16607527,
       0.11467746])

In [46]:
from stockFunctions import conversionSingle
fTestNormTable=conversionSingle(forecast,["A"])
forecast_stock_price_test_ori=Ms.inverse_transform(fTestNormTable)
forecast_stock_price_test_oriF=conversionSingle(forecast_stock_price_test_ori,["A fore cast"])

In [47]:
forecast_stock_price_test_oriF

   A fore cast
0     4.361189
1     5.235102
2     4.101281
3     4.199653
4     3.792536
5     3.494045
6     3.436648
7     4.394272
8     3.816077
9      3.44017
10    3.310134