In [1]:
import pandas as pd
import datetime as dt

In [2]:
dataset=pd.read_csv("Chiller con week end.csv")

In [3]:
dataset

        DAYS        DATE  TOTAL A  TOTAL B  TOTAL C
0   Saturday  2023-10-07    10.28     5.78     6.04
1     Sunday  2023-10-08     0.00     0.00    13.62
2   Saturday  2023-10-14     8.39     7.84     4.67
3     Sunday  2023-10-15     3.07     3.21     3.46
4   Saturday  2023-10-21     7.78     9.35     3.88
5     Sunday  2023-10-22     5.05     2.92     2.80
6   Saturday  2023-10-28     9.44     9.58     5.81
7     Sunday  2023-10-29     2.39     0.00     3.75
8   Saturday  2023-11-04     9.57     7.83     3.98
9     Sunday  2023-11-05     3.26     3.86     3.18
10  Saturday  2023-11-11     7.54     5.48     5.01
11    Sunday  2023-11-12     1.14     2.24     3.92
12  Saturday  2023-11-18     8.23     8.22     3.95
13    Sunday  2023-11-19     3.22     3.71     3.11
14  Saturday  2023-11-25     0.00     6.57     2.51
15    Sunday  2023-11-26     4.14     2.79     2.69
16  Saturday  2023-12-02     8.04     3.70     4.27
17    Sunday  2023-12-03     3.21     3.46     2.10
18  Saturday  2023-12-09     8.68     7.33     4.36
19    Sunday  2023-12-10     3.24     2.82     3.24
20  Saturday  2023-12-16     7.33     5.69     4.32
21    Sunday  2023-12-17     2.63     3.27     2.08
22  Saturday  2023-12-23     4.98     7.15     4.91
23    Sunday  2023-12-24     0.01     3.46     2.74
24  Saturday  2023-12-30     4.82     5.05     4.52
25  Saturday  2024-01-06     7.58     7.38     4.30
26    Sunday  2024-01-07     2.68     2.77     2.90
27  Saturday  2024-01-13     7.06     8.79     3.19
28    Sunday  2024-01-14     2.25     3.51     1.34
29    Sunday  2024-01-21     6.99     7.24     3.28
30  Saturday  2024-01-27     1.78     3.60     2.80
31    Sunday  2024-01-28     1.25     2.03     2.38
32  Saturday  2024-02-03     7.96     8.95     2.00
33    Sunday  2024-02-04     7.47     6.97     2.25
34  Saturday  2024-02-10     8.42     8.10     3.47
35    Sunday  2024-02-11     8.20     6.53     3.88

In [4]:
dataset.columns

Index(['DAYS', 'DATE', 'TOTAL A', 'TOTAL B', 'TOTAL C'], dtype='object')

In [5]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36 entries, 0 to 35
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   DAYS     36 non-null     object
 1   DATE     36 non-null     object
 2   TOTAL A  36 non-null     float64
 3   TOTAL B  36 non-null     float64
 4   TOTAL C  36 non-null     float64
dtypes: float64(3), object(2)
memory usage: 1.5+ KB

In [6]:
dataset['DATE']=pd.to_datetime(dataset['DATE'])

In [7]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36 entries, 0 to 35
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   DAYS     36 non-null     object
 1   DATE     36 non-null     datetime64[ns]
 2   TOTAL A  36 non-null     float64
 3   TOTAL B  36 non-null     float64
 4   TOTAL C  36 non-null     float64
dtypes: datetime64[ns](1), float64(3), object(1)
memory usage: 1.5+ KB

In [8]:
startdate="2023-10-07"
enddate="2024-02-11"
df=dataset[dataset['DATE'].between(startdate,enddate)][['DATE', 'TOTAL A']]

In [9]:
df

         DATE  TOTAL A
0  2023-10-07    10.28
1  2023-10-08     0.00
2  2023-10-14     8.39
3  2023-10-15     3.07
4  2023-10-21     7.78
5  2023-10-22     5.05
6  2023-10-28     9.44
7  2023-10-29     2.39
8  2023-11-04     9.57
9  2023-11-05     3.26
10 2023-11-11     7.54
11 2023-11-12     1.14
12 2023-11-18     8.23
13 2023-11-19     3.22
14 2023-11-25     0.00
15 2023-11-26     4.14
16 2023-12-02     8.04
17 2023-12-03     3.21
18 2023-12-09     8.68
19 2023-12-10     3.24
20 2023-12-16     7.33
21 2023-12-17     2.63
22 2023-12-23     4.98
23 2023-12-24     0.01
24 2023-12-30     4.82
25 2024-01-06     7.58
26 2024-01-07     2.68
27 2024-01-13     7.06
28 2024-01-14     2.25
29 2024-01-21     6.99
30 2024-01-27     1.78
31 2024-01-28     1.25
32 2024-02-03     7.96
33 2024-02-04     7.47
34 2024-02-10     8.42
35 2024-02-11     8.20

In [10]:
column='TOTAL A'

In [11]:
from sklearn.preprocessing import MinMaxScaler
Ms=MinMaxScaler()
data1=Ms.fit_transform(df[[column]])
print("Len:",data1.shape)

Len: (36, 1)

In [12]:
len(data1)

36

In [13]:
training_size=round(len(data1)*0.80)
print(training_size)
X_train=data1[:training_size]
X_test=data1[training_size:]
print("X_train length:",X_train.shape)
print("X_test length:",X_test.shape)
y_train=data1[:training_size]
y_test=data1[training_size:]
print("y_train length:",y_train.shape)
print("y_test length:",y_test.shape)

29
X_train length: (29, 1)
X_test length: (7, 1)
y_train length: (29, 1)
y_test length: (7, 1)

In [14]:
import warnings
warnings.filterwarnings("ignore")

In [15]:
#pip install statsmodels

In [16]:
from sklearn.metrics import mean_squared_error
trends=['n','t','c','ct']
orders=[(0,0,1),(0,0,2),(0,0,3)]
from statsmodels.tsa.arima.model import ARIMA
for td in trends:
        
        #print(td)
        #trendslist.append(td)
    model = ARIMA(X_train, order=(0,0,10),trend=td,)
    model_fit = model.fit()
        # make prediction
    y_pred= model_fit.predict(len(X_train), len(data1)-1)
        #print(y_pred)
    from sklearn.metrics import r2_score
    mse=mean_squared_error(y_test,y_pred,squared=False)
    from stockFunctions import rmsemape
    print("Trend={}".format(td))
    rmsemape(y_test,y_pred)
    print("************")

C:\Users\Hi\anaconda3\envs\aiads\Lib\site-packages\statsmodels\base\model.py:607: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  warnings.warn("Maximum Likelihood optimization failed to "

Trend=n
RMSE-Testset: 0.5312981895048989
maPe-Testset: 1.133307991105914
************

C:\Users\Hi\anaconda3\envs\aiads\Lib\site-packages\statsmodels\base\model.py:607: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  warnings.warn("Maximum Likelihood optimization failed to "

Trend=t
RMSE-Testset: 0.2526470509472747
maPe-Testset: 0.826082627451801
************

C:\Users\Hi\anaconda3\envs\aiads\Lib\site-packages\statsmodels\base\model.py:607: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  warnings.warn("Maximum Likelihood optimization failed to "

Trend=c
RMSE-Testset: 0.31253019125479614
maPe-Testset: 0.8935521768644402
************
Trend=ct
RMSE-Testset: 0.3636222620308494
maPe-Testset: 0.7240753254879236
************

C:\Users\Hi\anaconda3\envs\aiads\Lib\site-packages\statsmodels\base\model.py:607: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  warnings.warn("Maximum Likelihood optimization failed to "

In [17]:
len(y_test)

7

In [18]:
#i=1
td="ct"
model = ARIMA(X_train, order=(0,0,30),trend=td)
model_fit = model.fit()
# make prediction
y_pred= model_fit.predict(len(X_train), len(data1)-1)
#print(y_pred)
from sklearn.metrics import r2_score
mse=mean_squared_error(y_test,y_pred,squared=False)
from stockFunctions import rmsemape
print("Trend={}".format(td))
rmsemape(y_test,y_pred)
print("************")

Trend=ct
RMSE-Testset: 0.3548891868447243
maPe-Testset: 0.6327655756138387
************

C:\Users\Hi\anaconda3\envs\aiads\Lib\site-packages\statsmodels\base\model.py:607: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  warnings.warn("Maximum Likelihood optimization failed to "

In [19]:
#pip install Pillow

In [20]:
#from stockFunctions import graph
#graph(y_test,y_pred,"Actual","predicted","Quality data","Time","Char A")

In [21]:
len(data1)

36

In [22]:
y_test

array([[0.67996109],
       [0.17315175],
       [0.12159533],
       [0.77431907],
       [0.7266537 ],
       [0.81906615],
       [0.79766537]])

In [23]:
from stockFunctions import conversionSingle
aTestNormTable=conversionSingle(y_test,[column])

In [24]:
aTestNormTable

    TOTAL A
0  0.679961
1  0.173152
2  0.121595
3  0.774319
4  0.726654
5  0.819066
6  0.797665

In [25]:
actual_stock_price_test_ori=Ms.inverse_transform(aTestNormTable)

In [26]:
actual_stock_price_test_ori

array([[6.99],
       [1.78],
       [1.25],
       [7.96],
       [7.47],
       [8.42],
       [8.2 ]])

In [27]:
actual_stock_price_test_oriA=conversionSingle(actual_stock_price_test_ori,[column])

In [28]:
actual_stock_price_test_oriA

  TOTAL A
0    6.99
1    1.78
2    1.25
3    7.96
4    7.47
5    8.42
6     8.2

In [29]:
from stockFunctions import conversionSingle
aTestNormTable=conversionSingle(y_test,[column])
actual_stock_price_test_ori=Ms.inverse_transform(aTestNormTable)
actual_stock_price_test_oriA=conversionSingle(actual_stock_price_test_ori,[column])

In [30]:
from stockFunctions import conversionSingle
pTestNormTable=conversionSingle(y_pred,[column])
predicted_stock_price_test_ori=Ms.inverse_transform(pTestNormTable)
predicted_stock_price_test_oriP=conversionSingle(predicted_stock_price_test_ori,[column])

In [31]:
#from stockFunctions import graph
#graph(actual_stock_price_test_oriA,predicted_stock_price_test_oriP,"Actual","Predicted","Quality data","Time","Char A")

In [32]:
from stockFunctions import rmsemape
rmsemape(actual_stock_price_test_oriA,predicted_stock_price_test_oriP)

RMSE-Testset: 3.6482608407637658
maPe-Testset: 0.6327655756138387

In [33]:
forecast=model_fit.predict(len(data1), len(data1)+10)

In [34]:
forecast

array([0.13187749, 0.53096775, 0.26632814, 0.46018719, 0.29590111,
       0.38788313, 0.16716209, 0.3025666 , 0.19051096, 0.30145063,
       0.27726113])

In [35]:
from stockFunctions import conversionSingle
fTestNormTable=conversionSingle(forecast,["TOTAL A"])
forecast_stock_price_test_ori=Ms.inverse_transform(fTestNormTable)
forecast_stock_price_test_oriF=conversionSingle(forecast_stock_price_test_ori,["TOTAL A fore cast"])

In [36]:
forecast_stock_price_test_oriF

   TOTAL A fore cast
0           1.355701
1           5.458348
2           2.737853
3           4.730724
4           3.041863
5           3.987439
6           1.718426
7           3.110385
8           1.958453
9           3.098912
10          2.850244