In [1]:
import pandas as pd
import datetime as dt

In [2]:
dataset=pd.read_csv("Chiller Cons1.csv")

In [3]:
dataset

           DATE      A     B      C
0    2023-10-06  10.28  5.78   6.04
1    2023-10-07   8.96  7.84  13.62
2    2023-10-08   4.53  3.64   5.80
3    2023-10-09   8.06  8.07   4.91
4    2023-10-10   9.26  9.01   6.07
..          ...    ...   ...    ...
106  2024-01-20   5.37  5.23   2.86
107  2024-01-21   4.72  3.73   2.97
108  2024-01-22   5.23  5.20   2.67
109  2024-01-23   5.50  5.59   3.47
110  2024-01-24   3.02  4.26   3.88

[111 rows x 4 columns]

In [4]:
dataset.columns

Index(['DATE', 'A', 'B', 'C'], dtype='object')

In [5]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 111 entries, 0 to 110
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   DATE    111 non-null    object
 1   A       111 non-null    float64
 2   B       111 non-null    float64
 3   C       111 non-null    float64
dtypes: float64(3), object(1)
memory usage: 3.6+ KB

In [6]:
dataset['DATE']=pd.to_datetime(dataset['DATE'])

In [7]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 111 entries, 0 to 110
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   DATE    111 non-null    datetime64[ns]
 1   A       111 non-null    float64
 2   B       111 non-null    float64
 3   C       111 non-null    float64
dtypes: datetime64[ns](1), float64(3)
memory usage: 3.6 KB

In [8]:
startdate="2023-10-06"
enddate="2024-01-24"
df=dataset[dataset['DATE'].between(startdate,enddate)][['DATE', 'C']]

In [9]:
df

          DATE      C
0   2023-10-06   6.04
1   2023-10-07  13.62
2   2023-10-08   5.80
3   2023-10-09   4.91
4   2023-10-10   6.07
..         ...    ...
106 2024-01-20   2.86
107 2024-01-21   2.97
108 2024-01-22   2.67
109 2024-01-23   3.47
110 2024-01-24   3.88

[111 rows x 2 columns]

In [10]:
column='C'

In [11]:
from sklearn.preprocessing import MinMaxScaler
Ms=MinMaxScaler()
data1=Ms.fit_transform(df[[column]])
print("Len:",data1.shape)

Len: (111, 1)

In [12]:
len(data1)

111

In [13]:
training_size=round(len(data1)*0.80)
print(training_size)
X_train=data1[:training_size]
X_test=data1[training_size:]
print("X_train length:",X_train.shape)
print("X_test length:",X_test.shape)
y_train=data1[:training_size]
y_test=data1[training_size:]
print("y_train length:",y_train.shape)
print("y_test length:",y_test.shape)

89
X_train length: (89, 1)
X_test length: (22, 1)
y_train length: (89, 1)
y_test length: (22, 1)

In [14]:
import warnings
warnings.filterwarnings("ignore")

In [15]:
#pip install statsmodels

In [16]:
from sklearn.metrics import mean_squared_error
trends=['n','t','c','ct']
orders=[(0,0,1),(0,0,2),(0,0,3)]
from statsmodels.tsa.arima.model import ARIMA
for td in trends:
        
        #print(td)
        #trendslist.append(td)
    model = ARIMA(X_train, order=(0,0,10),trend=td,)
    model_fit = model.fit()
        # make prediction
    y_pred= model_fit.predict(len(X_train), len(data1)-1)
        #print(y_pred)
    from sklearn.metrics import r2_score
    mse=mean_squared_error(y_test,y_pred,squared=False)
    from stockFunctions import rmsemape
    print("Trend={}".format(td))
    rmsemape(y_test,y_pred)
    print("************")

C:\Users\Hi\anaconda3\envs\aiads\Lib\site-packages\statsmodels\base\model.py:607: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  warnings.warn("Maximum Likelihood optimization failed to "

Trend=n
RMSE-Testset: 0.12939525241932776
maPe-Testset: 1.0380673909258433
************

C:\Users\Hi\anaconda3\envs\aiads\Lib\site-packages\statsmodels\base\model.py:607: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  warnings.warn("Maximum Likelihood optimization failed to "

Trend=t
RMSE-Testset: 0.1927499399290955
maPe-Testset: 70044286017454.22
************

C:\Users\Hi\anaconda3\envs\aiads\Lib\site-packages\statsmodels\base\model.py:607: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  warnings.warn("Maximum Likelihood optimization failed to "

Trend=c
RMSE-Testset: 0.11311815189354361
maPe-Testset: 47272509677268.64
************
Trend=ct
RMSE-Testset: 0.07533311823430461
maPe-Testset: 19866100315310.93
************

C:\Users\Hi\anaconda3\envs\aiads\Lib\site-packages\statsmodels\base\model.py:607: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  warnings.warn("Maximum Likelihood optimization failed to "

In [17]:
len(y_test)

22

In [18]:
#i=1
td="ct"
model = ARIMA(X_train, order=(0,0,30),trend=td)
model_fit = model.fit()
# make prediction
y_pred= model_fit.predict(len(X_train), len(data1)-1)
#print(y_pred)
from sklearn.metrics import r2_score
mse=mean_squared_error(y_test,y_pred,squared=False)
from stockFunctions import rmsemape
print("Trend={}".format(td))
rmsemape(y_test,y_pred)
print("************")

Trend=ct
RMSE-Testset: 0.08450891591910618
maPe-Testset: 18614934217349.285
************

In [19]:
#pip install Pillow

In [20]:
#from stockFunctions import graph
#graph(y_test,y_pred,"Actual","predicted","Quality data","Time","Char A")

In [21]:
len(data1)

111

In [22]:
y_test

array([[0.24679487],
       [0.15064103],
       [0.02644231],
       [0.14903846],
       [0.18509615],
       [0.23397436],
       [0.28044872],
       [0.17147436],
       [0.12980769],
       [0.06730769],
       [0.05689103],
       [0.13541667],
       [0.19070513],
       [0.06891026],
       [0.08894231],
       [0.06410256],
       [0.        ],
       [0.13782051],
       [0.14663462],
       [0.12259615],
       [0.18669872],
       [0.21955128]])

In [23]:
from stockFunctions import conversionSingle
aTestNormTable=conversionSingle(y_test,[column])

In [24]:
aTestNormTable

           C
0   0.246795
1   0.150641
2   0.026442
3   0.149038
4   0.185096
5   0.233974
6   0.280449
7   0.171474
8   0.129808
9   0.067308
10  0.056891
11  0.135417
12  0.190705
13   0.06891
14  0.088942
15  0.064103
16       0.0
17  0.137821
18  0.146635
19  0.122596
20  0.186699
21  0.219551

In [25]:
actual_stock_price_test_ori=Ms.inverse_transform(aTestNormTable)

In [26]:
actual_stock_price_test_ori

array([[4.22],
       [3.02],
       [1.47],
       [3.  ],
       [3.45],
       [4.06],
       [4.64],
       [3.28],
       [2.76],
       [1.98],
       [1.85],
       [2.83],
       [3.52],
       [2.  ],
       [2.25],
       [1.94],
       [1.14],
       [2.86],
       [2.97],
       [2.67],
       [3.47],
       [3.88]])

In [27]:
actual_stock_price_test_oriA=conversionSingle(actual_stock_price_test_ori,[column])

In [28]:
actual_stock_price_test_oriA

       C
0   4.22
1   3.02
2   1.47
3    3.0
4   3.45
5   4.06
6   4.64
7   3.28
8   2.76
9   1.98
10  1.85
11  2.83
12  3.52
13   2.0
14  2.25
15  1.94
16  1.14
17  2.86
18  2.97
19  2.67
20  3.47
21  3.88

In [29]:
from stockFunctions import conversionSingle
aTestNormTable=conversionSingle(y_test,[column])
actual_stock_price_test_ori=Ms.inverse_transform(aTestNormTable)
actual_stock_price_test_oriA=conversionSingle(actual_stock_price_test_ori,[column])

In [30]:
from stockFunctions import conversionSingle
pTestNormTable=conversionSingle(y_pred,[column])
predicted_stock_price_test_ori=Ms.inverse_transform(pTestNormTable)
predicted_stock_price_test_oriP=conversionSingle(predicted_stock_price_test_ori,[column])

In [31]:
#from stockFunctions import graph
#graph(actual_stock_price_test_oriA,predicted_stock_price_test_oriP,"Actual","Predicted","Quality data","Time","Char A")

In [32]:
from stockFunctions import rmsemape
rmsemape(actual_stock_price_test_oriA,predicted_stock_price_test_oriP)

RMSE-Testset: 1.054671270670445
maPe-Testset: 0.31369450113670116

In [33]:
forecast=model_fit.predict(len(data1), len(data1)+10)

In [34]:
forecast

array([0.06104596, 0.07378881, 0.07660836, 0.04984079, 0.06943027,
       0.06267087, 0.0654928 , 0.0711315 , 0.06810236, 0.06606366,
       0.06402496])

In [35]:
from stockFunctions import conversionSingle
fTestNormTable=conversionSingle(forecast,["C"])
forecast_stock_price_test_ori=Ms.inverse_transform(fTestNormTable)
forecast_stock_price_test_oriF=conversionSingle(forecast_stock_price_test_ori,["C fore cast"])

In [36]:
forecast_stock_price_test_oriF

   C fore cast
0     1.901854
1     2.060884
2     2.096072
3     1.762013
4      2.00649
5     1.922132
6      1.95735
7     2.027721
8     1.989917
9     1.964474
10    1.939031