In [1]:
import pandas as pd
import datetime as dt

In [2]:
dataset=pd.read_csv("Chiller_Cons.csv")

In [3]:
dataset

           DATE      A     B      C
0    2023-10-06   0.00  0.00   0.00
1    2023-10-07  10.28  5.78   6.04
2    2023-10-08   0.00  0.00  13.62
3    2023-10-09   8.96  7.84   5.80
4    2023-10-10   7.28  6.16   4.91
..          ...    ...   ...    ...
125  2024-02-08   5.37  4.56   2.97
126  2024-02-09   6.86  7.89   2.67
127  2024-02-10   8.42  8.10   3.47
128  2024-02-11   8.20  6.53   3.88
129  2024-02-12   3.02  1.49   1.56

[130 rows x 4 columns]

In [4]:
dataset.columns

Index(['DATE', 'A', 'B', 'C'], dtype='object')

In [5]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 130 entries, 0 to 129
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   DATE    130 non-null    object
 1   A       130 non-null    float64
 2   B       130 non-null    float64
 3   C       130 non-null    float64
dtypes: float64(3), object(1)
memory usage: 4.2+ KB

In [6]:
dataset['DATE']=pd.to_datetime(dataset['DATE'])

In [7]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 130 entries, 0 to 129
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   DATE    130 non-null    datetime64[ns]
 1   A       130 non-null    float64
 2   B       130 non-null    float64
 3   C       130 non-null    float64
dtypes: datetime64[ns](1), float64(3)
memory usage: 4.2 KB

In [8]:
startdate="2023-10-06"
enddate="2024-02-12"
df=dataset[dataset['DATE'].between(startdate,enddate)][['DATE', 'A']]

In [9]:
df

          DATE      A
0   2023-10-06   0.00
1   2023-10-07  10.28
2   2023-10-08   0.00
3   2023-10-09   8.96
4   2023-10-10   7.28
..         ...    ...
125 2024-02-08   5.37
126 2024-02-09   6.86
127 2024-02-10   8.42
128 2024-02-11   8.20
129 2024-02-12   3.02

[130 rows x 2 columns]

In [10]:
column='A'

In [11]:
from sklearn.preprocessing import MinMaxScaler
Ms=MinMaxScaler()
data1=Ms.fit_transform(df[[column]])
print("Len:",data1.shape)

Len: (130, 1)

In [12]:
len(data1)

130

In [13]:
training_size=round(len(data1)*0.80)
print(training_size)
X_train=data1[:training_size]
X_test=data1[training_size:]
print("X_train length:",X_train.shape)
print("X_test length:",X_test.shape)
y_train=data1[:training_size]
y_test=data1[training_size:]
print("y_train length:",y_train.shape)
print("y_test length:",y_test.shape)

104
X_train length: (104, 1)
X_test length: (26, 1)
y_train length: (104, 1)
y_test length: (26, 1)

In [14]:
import warnings
warnings.filterwarnings("ignore")

In [15]:
#pip install statsmodels

In [16]:
from sklearn.metrics import mean_squared_error
trends=['n','t','c','ct']
orders=[(0,0,1),(0,0,2),(0,0,3)]
from statsmodels.tsa.arima.model import ARIMA
for td in trends:
        
        #print(td)
        #trendslist.append(td)
    model = ARIMA(X_train, order=(0,0,10),trend=td,)
    model_fit = model.fit()
        # make prediction
    y_pred= model_fit.predict(len(X_train), len(data1)-1)
        #print(y_pred)
    from sklearn.metrics import r2_score
    mse=mean_squared_error(y_test,y_pred,squared=False)
    from stockFunctions import rmsemape
    print("Trend={}".format(td))
    rmsemape(y_test,y_pred)
    print("************")

C:\Users\Hi\anaconda3\envs\aiads\Lib\site-packages\statsmodels\base\model.py:607: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  warnings.warn("Maximum Likelihood optimization failed to "

Trend=n
RMSE-Testset: 0.5824874670435306
maPe-Testset: 43213116812107.01
************

C:\Users\Hi\anaconda3\envs\aiads\Lib\site-packages\statsmodels\base\model.py:607: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  warnings.warn("Maximum Likelihood optimization failed to "

Trend=t
RMSE-Testset: 0.3535120859624813
maPe-Testset: 38316078837495.76
************

C:\Users\Hi\anaconda3\envs\aiads\Lib\site-packages\statsmodels\base\model.py:607: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  warnings.warn("Maximum Likelihood optimization failed to "

Trend=c
RMSE-Testset: 0.2596115045420256
maPe-Testset: 85951874770638.05
************
Trend=ct
RMSE-Testset: 0.3042703966777862
maPe-Testset: 60510690538974.57
************

C:\Users\Hi\anaconda3\envs\aiads\Lib\site-packages\statsmodels\base\model.py:607: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  warnings.warn("Maximum Likelihood optimization failed to "

In [17]:
len(y_test)

26

In [23]:
#i=1
td="c"
model = ARIMA(X_train, order=(0,0,30),trend=td)
model_fit = model.fit()
# make prediction
y_pred= model_fit.predict(len(X_train), len(data1)-1)
#print(y_pred)
from sklearn.metrics import r2_score
mse=mean_squared_error(y_test,y_pred,squared=False)
from stockFunctions import rmsemape
print("Trend={}".format(td))
rmsemape(y_test,y_pred)
print("************")

C:\Users\Hi\anaconda3\envs\aiads\Lib\site-packages\statsmodels\base\model.py:607: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  warnings.warn("Maximum Likelihood optimization failed to "

Trend=c
RMSE-Testset: 0.21008801700297788
maPe-Testset: 61318838231120.49
************

In [24]:
#pip install Pillow

In [25]:
#from stockFunctions import graph
#graph(y_test,y_pred,"Actual","predicted","Quality data","Time","Char A")

In [26]:
len(data1)

130

In [27]:
y_test

array([[0.64666667],
       [0.68666667],
       [0.        ],
       [0.66571429],
       [0.13619048],
       [0.3152381 ],
       [0.32095238],
       [0.63714286],
       [0.71428571],
       [0.16952381],
       [0.11904762],
       [0.05619048],
       [0.3647619 ],
       [0.67238095],
       [0.62190476],
       [0.61428571],
       [0.75809524],
       [0.71142857],
       [0.32571429],
       [0.56285714],
       [0.74380952],
       [0.51142857],
       [0.65333333],
       [0.80190476],
       [0.78095238],
       [0.28761905]])

In [28]:
from stockFunctions import conversionSingle
aTestNormTable=conversionSingle(y_test,[column])

In [29]:
aTestNormTable

           A
0   0.646667
1   0.686667
2        0.0
3   0.665714
4    0.13619
5   0.315238
6   0.320952
7   0.637143
8   0.714286
9   0.169524
10  0.119048
11   0.05619
12  0.364762
13  0.672381
14  0.621905
15  0.614286
16  0.758095
17  0.711429
18  0.325714
19  0.562857
20   0.74381
21  0.511429
22  0.653333
23  0.801905
24  0.780952
25  0.287619

In [30]:
actual_stock_price_test_ori=Ms.inverse_transform(aTestNormTable)

In [31]:
actual_stock_price_test_ori

array([[6.79],
       [7.21],
       [0.  ],
       [6.99],
       [1.43],
       [3.31],
       [3.37],
       [6.69],
       [7.5 ],
       [1.78],
       [1.25],
       [0.59],
       [3.83],
       [7.06],
       [6.53],
       [6.45],
       [7.96],
       [7.47],
       [3.42],
       [5.91],
       [7.81],
       [5.37],
       [6.86],
       [8.42],
       [8.2 ],
       [3.02]])

In [32]:
actual_stock_price_test_oriA=conversionSingle(actual_stock_price_test_ori,[column])

In [33]:
actual_stock_price_test_oriA

       A
0   6.79
1   7.21
2    0.0
3   6.99
4   1.43
5   3.31
6   3.37
7   6.69
8    7.5
9   1.78
10  1.25
11  0.59
12  3.83
13  7.06
14  6.53
15  6.45
16  7.96
17  7.47
18  3.42
19  5.91
20  7.81
21  5.37
22  6.86
23  8.42
24   8.2
25  3.02

In [34]:
from stockFunctions import conversionSingle
aTestNormTable=conversionSingle(y_test,[column])
actual_stock_price_test_ori=Ms.inverse_transform(aTestNormTable)
actual_stock_price_test_oriA=conversionSingle(actual_stock_price_test_ori,[column])

In [35]:
from stockFunctions import conversionSingle
pTestNormTable=conversionSingle(y_pred,[column])
predicted_stock_price_test_ori=Ms.inverse_transform(pTestNormTable)
predicted_stock_price_test_oriP=conversionSingle(predicted_stock_price_test_ori,[column])

In [36]:
#from stockFunctions import graph
#graph(actual_stock_price_test_oriA,predicted_stock_price_test_oriP,"Actual","Predicted","Quality data","Time","Char A")

In [37]:
from stockFunctions import rmsemape
rmsemape(actual_stock_price_test_oriA,predicted_stock_price_test_oriP)

RMSE-Testset: 2.205924178531268
maPe-Testset: 643847801426758.9

In [38]:
forecast=model_fit.predict(len(data1), len(data1)+0)

In [39]:
forecast

array([0.39545522])

In [40]:
from stockFunctions import conversionSingle
fTestNormTable=conversionSingle(forecast,["A"])
forecast_stock_price_test_ori=Ms.inverse_transform(fTestNormTable)
forecast_stock_price_test_oriF=conversionSingle(forecast_stock_price_test_ori,["A fore cast"])

In [41]:
forecast_stock_price_test_oriF

  A fore cast
0     4.15228