In [1]:
import pandas as pd
import datetime as dt

In [2]:
dataset=pd.read_csv("Chiller con week days.csv")

In [3]:
dataset

         DAYS        DATE  TOTAL A  TOTAL B  TOTAL C
0      Monday  2023-10-09     8.96     7.84     5.80
1     Tuesday  2023-10-10    10.82     9.87     5.37
2   Wednesday  2023-10-11     9.46     9.46     6.07
3    Thursday  2023-10-12     9.26    11.12     4.38
4      Friday  2023-10-13     8.27    11.00     3.94
..        ...         ...      ...      ...      ...
84  Wednesday  2024-02-07     7.81     8.62     2.86
85   Thursday  2024-02-08     5.37     4.56     2.97
86     Friday  2024-02-09     6.86     7.89     2.67
87     Monday  2024-02-12     3.02     1.49     1.56
88    Tuesday  2024-02-13     5.50     4.22     4.06

[89 rows x 5 columns]

In [4]:
dataset.columns

Index(['DAYS', 'DATE', 'TOTAL A', 'TOTAL B', 'TOTAL C'], dtype='object')

In [5]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89 entries, 0 to 88
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   DAYS     89 non-null     object
 1   DATE     89 non-null     object
 2   TOTAL A  89 non-null     float64
 3   TOTAL B  89 non-null     float64
 4   TOTAL C  89 non-null     float64
dtypes: float64(3), object(2)
memory usage: 3.6+ KB

In [6]:
dataset['DATE']=pd.to_datetime(dataset['DATE'])

In [7]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89 entries, 0 to 88
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   DAYS     89 non-null     object
 1   DATE     89 non-null     datetime64[ns]
 2   TOTAL A  89 non-null     float64
 3   TOTAL B  89 non-null     float64
 4   TOTAL C  89 non-null     float64
dtypes: datetime64[ns](1), float64(3), object(1)
memory usage: 3.6+ KB

In [9]:
startdate="2023-10-09"
enddate="2024-02-13"
df=dataset[dataset['DATE'].between(startdate,enddate)][['DATE', 'TOTAL B']]

In [10]:
df

         DATE  TOTAL B
0  2023-10-09     7.84
1  2023-10-10     9.87
2  2023-10-11     9.46
3  2023-10-12    11.12
4  2023-10-13    11.00
..        ...      ...
84 2024-02-07     8.62
85 2024-02-08     4.56
86 2024-02-09     7.89
87 2024-02-12     1.49
88 2024-02-13     4.22

[89 rows x 2 columns]

In [11]:
column='TOTAL B'

In [12]:
from sklearn.preprocessing import MinMaxScaler
Ms=MinMaxScaler()
data1=Ms.fit_transform(df[[column]])
print("Len:",data1.shape)

Len: (89, 1)

In [13]:
len(data1)

89

In [14]:
training_size=round(len(data1)*0.80)
print(training_size)
X_train=data1[:training_size]
X_test=data1[training_size:]
print("X_train length:",X_train.shape)
print("X_test length:",X_test.shape)
y_train=data1[:training_size]
y_test=data1[training_size:]
print("y_train length:",y_train.shape)
print("y_test length:",y_test.shape)

71
X_train length: (71, 1)
X_test length: (18, 1)
y_train length: (71, 1)
y_test length: (18, 1)

In [15]:
import warnings
warnings.filterwarnings("ignore")

In [16]:
#pip install statsmodels

In [17]:
from sklearn.metrics import mean_squared_error
trends=['n','t','c','ct']
orders=[(0,0,1),(0,0,2),(0,0,3)]
from statsmodels.tsa.arima.model import ARIMA
for td in trends:
        
        #print(td)
        #trendslist.append(td)
    model = ARIMA(X_train, order=(0,0,10),trend=td,)
    model_fit = model.fit()
        # make prediction
    y_pred= model_fit.predict(len(X_train), len(data1)-1)
        #print(y_pred)
    from sklearn.metrics import r2_score
    mse=mean_squared_error(y_test,y_pred,squared=False)
    from stockFunctions import rmsemape
    print("Trend={}".format(td))
    rmsemape(y_test,y_pred)
    print("************")

Trend=n
RMSE-Testset: 0.04376750877218502
maPe-Testset: 0.9094124616741467
************
Trend=t
RMSE-Testset: 0.12516690606854586
maPe-Testset: 4.132005720873036
************

C:\Users\Hi\anaconda3\envs\aiads\Lib\site-packages\statsmodels\base\model.py:607: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  warnings.warn("Maximum Likelihood optimization failed to "

Trend=c
RMSE-Testset: 0.030655198664359735
maPe-Testset: 1.1097598193300446
************
Trend=ct
RMSE-Testset: 0.053595772284751673
maPe-Testset: 1.8946961789732326
************

In [18]:
len(y_test)

18

In [19]:
#i=1
td="c"
model = ARIMA(X_train, order=(0,0,30),trend=td)
model_fit = model.fit()
# make prediction
y_pred= model_fit.predict(len(X_train), len(data1)-1)
#print(y_pred)
from sklearn.metrics import r2_score
mse=mean_squared_error(y_test,y_pred,squared=False)
from stockFunctions import rmsemape
print("Trend={}".format(td))
rmsemape(y_test,y_pred)
print("************")

C:\Users\Hi\anaconda3\envs\aiads\Lib\site-packages\statsmodels\base\model.py:607: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  warnings.warn("Maximum Likelihood optimization failed to "

Trend=c
RMSE-Testset: 0.055497253995977235
maPe-Testset: 1.428884212243907
************

In [20]:
#pip install Pillow

In [21]:
#from stockFunctions import graph
#graph(y_test,y_pred,"Actual","predicted","Quality data","Time","Char A")

In [22]:
len(data1)

89

In [23]:
y_test

array([[0.0526191 ],
       [0.02006795],
       [0.03989887],
       [0.05348819],
       [0.05791262],
       [0.0525401 ],
       [0.0124042 ],
       [0.04211108],
       [0.05246109],
       [0.03926681],
       [0.06091491],
       [0.01911985],
       [0.05514735],
       [0.06810461],
       [0.03602749],
       [0.06233705],
       [0.01177214],
       [0.03334123]])

In [24]:
from stockFunctions import conversionSingle
aTestNormTable=conversionSingle(y_test,[column])

In [25]:
aTestNormTable

     TOTAL B
0   0.052619
1   0.020068
2   0.039899
3   0.053488
4   0.057913
5    0.05254
6   0.012404
7   0.042111
8   0.052461
9   0.039267
10  0.060915
11   0.01912
12  0.055147
13  0.068105
14  0.036027
15  0.062337
16  0.011772
17  0.033341

In [26]:
actual_stock_price_test_ori=Ms.inverse_transform(aTestNormTable)

In [27]:
actual_stock_price_test_ori

array([[6.66],
       [2.54],
       [5.05],
       [6.77],
       [7.33],
       [6.65],
       [1.57],
       [5.33],
       [6.64],
       [4.97],
       [7.71],
       [2.42],
       [6.98],
       [8.62],
       [4.56],
       [7.89],
       [1.49],
       [4.22]])

In [28]:
actual_stock_price_test_oriA=conversionSingle(actual_stock_price_test_ori,[column])

In [29]:
actual_stock_price_test_oriA

   TOTAL B
0     6.66
1     2.54
2     5.05
3     6.77
4     7.33
5     6.65
6     1.57
7     5.33
8     6.64
9     4.97
10    7.71
11    2.42
12    6.98
13    8.62
14    4.56
15    7.89
16    1.49
17    4.22

In [30]:
from stockFunctions import conversionSingle
aTestNormTable=conversionSingle(y_test,[column])
actual_stock_price_test_ori=Ms.inverse_transform(aTestNormTable)
actual_stock_price_test_oriA=conversionSingle(actual_stock_price_test_ori,[column])

In [31]:
from stockFunctions import conversionSingle
pTestNormTable=conversionSingle(y_pred,[column])
predicted_stock_price_test_ori=Ms.inverse_transform(pTestNormTable)
predicted_stock_price_test_oriP=conversionSingle(predicted_stock_price_test_ori,[column])

In [32]:
#from stockFunctions import graph
#graph(actual_stock_price_test_oriA,predicted_stock_price_test_oriP,"Actual","Predicted","Quality data","Time","Char A")

In [33]:
from stockFunctions import rmsemape
rmsemape(actual_stock_price_test_oriA,predicted_stock_price_test_oriP)

RMSE-Testset: 7.02428743827084
maPe-Testset: 1.4288842122439072

In [34]:
forecast=model_fit.predict(len(data1), len(data1)+10)

In [35]:
forecast

array([0.06825353, 0.07352968, 0.06538732, 0.08031283, 0.07084192,
       0.07271885, 0.07096819, 0.06845823, 0.07112206, 0.0681508 ,
       0.0683003 ])

In [36]:
from stockFunctions import conversionSingle
fTestNormTable=conversionSingle(forecast,["TOTAL B"])
forecast_stock_price_test_ori=Ms.inverse_transform(fTestNormTable)
forecast_stock_price_test_oriF=conversionSingle(forecast_stock_price_test_ori,["TOTAL B fore cast"])

In [37]:
forecast_stock_price_test_oriF

   TOTAL B fore cast
0            8.63885
1           9.306652
2           8.276073
3          10.165195
4           8.966461
5           9.204024
6           8.982443
7           8.664758
8            9.00192
9           8.625846
10          8.644769