In [4]:
import pandas as pd
import datetime as dt

In [5]:
dataset=pd.read_csv("Chiller_Cons.csv")

In [6]:
dataset

           DATE      A     B      C
0    2023-10-06   0.00  0.00   0.00
1    2023-10-07  10.28  5.78   6.04
2    2023-10-08   0.00  0.00  13.62
3    2023-10-09   8.96  7.84   5.80
4    2023-10-10   7.28  6.16   4.91
..          ...    ...   ...    ...
125  2024-02-08   5.37  4.56   2.97
126  2024-02-09   6.86  7.89   2.67
127  2024-02-10   8.42  8.10   3.47
128  2024-02-11   8.20  6.53   3.88
129  2024-02-12   3.02  1.49   1.56

[130 rows x 4 columns]

In [7]:
dataset.columns

Index(['DATE', 'A', 'B', 'C'], dtype='object')

In [12]:
startdate="2023-10-06"
enddate="2024-02-12"
df=dataset[dataset['DATE'].between(startdate,enddate)][['DATE', 'A', 'B', 'C']]
#df=dataset[dataset['Time'].between(startdate,enddate)][['Time', 'Char A','Char B','Char C','Char D','Char E']]

In [ ]:
df

In [20]:
df=df[[ 'A', 'B', 'C']]

In [21]:
df.head()

       A     B      C
0   0.00  0.00   0.00
1  10.28  5.78   6.04
2   0.00  0.00  13.62
3   8.96  7.84   5.80
4   7.28  6.16   4.91

In [22]:
#column='A', 'B', 'C'

In [23]:
from sklearn.preprocessing import MinMaxScaler
Ms = MinMaxScaler()
data1= Ms.fit_transform(df)
print("Len:",data1.shape)

Len: (130, 3)

In [24]:
data1

array([[0.        , 0.        , 0.        ],
       [0.97904762, 0.50835532, 0.44346549],
       [0.        , 0.        , 1.        ],
       [0.85333333, 0.68953386, 0.42584435],
       [0.69333333, 0.54177661, 0.36049927],
       [0.90095238, 0.83201407, 0.44566814],
       [0.88190476, 0.97801231, 0.3215859 ],
       [0.78761905, 0.96745822, 0.28928047],
       [0.79904762, 0.68953386, 0.34287812],
       [0.29238095, 0.2823219 , 0.25403818],
       [0.67238095, 0.39401935, 0.30469897],
       [0.55238095, 0.75021988, 0.31718062],
       [0.82190476, 0.72207564, 0.33773862],
       [0.78952381, 0.71328056, 0.34361233],
       [0.80285714, 1.        , 0.23568282],
       [0.74095238, 0.82233949, 0.28487518],
       [0.48095238, 0.25681618, 0.20558003],
       [0.61047619, 0.62620932, 0.26064611],
       [0.79809524, 0.64028144, 0.26578561],
       [0.57428571, 0.71855761, 0.22173275],
       [0.78857143, 0.82673703, 0.21365639],
       [0.90095238, 0.91292876, 0.21585903],
       [0.89904762, 0.84256816, 0.42657856],
       [0.22761905, 0.21899736, 0.2753304 ],
       [0.54761905, 0.66402814, 0.27312775],
       [0.82095238, 0.67282322, 0.31204112],
       [0.82857143, 0.59366755, 0.24963289],
       [0.92380952, 0.78715919, 0.34434655],
       [0.86285714, 0.74054529, 0.29295154],
       [0.91142857, 0.68865435, 0.29221733],
       [0.31047619, 0.33948989, 0.23348018],
       [0.5       , 0.70360598, 0.25477239],
       [0.82761905, 0.67370273, 0.30323054],
       [0.95333333, 0.74670185, 0.31424376],
       [0.8352381 , 0.72383465, 0.34287812],
       [1.        , 0.62972735, 0.32892805],
       [0.71809524, 0.4819701 , 0.36784141],
       [0.10857143, 0.19700967, 0.28781204],
       [0.09714286, 0.18733509, 0.21585903],
       [0.36285714, 0.61917326, 0.28487518],
       [0.58666667, 0.53034301, 0.27973568],
       [0.80952381, 0.7291117 , 0.18575624],
       [0.81809524, 0.7766051 , 0.26138032],
       [0.78380952, 0.72295515, 0.29001468],
       [0.30666667, 0.32629727, 0.22834068],
       [0.5447619 , 0.42568162, 0.26798825],
       [0.67333333, 0.75813544, 0.28340675],
       [0.73619048, 0.62708883, 0.3267254 ],
       [0.66190476, 0.76341249, 0.30469897],
       [0.88952381, 0.78452067, 0.25036711],
       [0.7752381 , 0.57783641, 0.18428781],
       [0.39428571, 0.24538259, 0.19750367],
       [0.51809524, 0.37730871, 0.26578561],
       [0.88761905, 0.56376429, 0.25991189],
       [0.73714286, 0.66226913, 0.15271659],
       [0.47047619, 0.40897098, 0.25403818],
       [0.65619048, 0.74054529, 0.22907489],
       [0.76571429, 0.32541777, 0.31350954],
       [0.30571429, 0.30430959, 0.15418502],
       [0.        , 0.        , 0.32085169],
       [0.        , 0.20668426, 0.20778267],
       [0.24190476, 0.27704485, 0.24522761],
       [0.38      , 0.44063325, 0.26651982],
       [0.54952381, 0.57783641, 0.29515419],
       [0.82666667, 0.64467898, 0.32011747],
       [0.30857143, 0.24802111, 0.23788546],
       [0.46761905, 0.41688654, 0.26431718],
       [0.65238095, 0.66314864, 0.26064611],
       [0.66      , 0.59278804, 0.2856094 ],
       [0.43428571, 0.67810026, 0.25183554],
       [0.67047619, 0.63412489, 0.32305433],
       [0.69809524, 0.50043975, 0.31718062],
       [0.25047619, 0.28759894, 0.15271659],
       [0.50666667, 0.46789798, 0.26945668],
       [0.69238095, 0.67282322, 0.29515419],
       [0.61904762, 0.41248901, 0.28414097],
       [0.55333333, 0.4705365 , 0.22907489],
       [0.59904762, 0.6824978 , 0.18208517],
       [0.47428571, 0.62884785, 0.36049927],
       [0.1647619 , 0.3175022 , 0.20117474],
       [0.26      , 0.33861038, 0.14317181],
       [0.3752381 , 0.50747581, 0.24449339],
       [0.67619048, 0.70360598, 0.29441997],
       [0.68      , 0.69041337, 0.25183554],
       [0.75714286, 0.79155673, 0.25550661],
       [0.45904762, 0.44415128, 0.3318649 ],
       [0.        , 0.        , 0.        ],
       [0.        , 0.        , 0.        ],
       [0.        , 0.        , 0.        ],
       [0.        , 0.        , 0.09544787],
       [0.73428571, 0.71064204, 0.26064611],
       [0.7752381 , 0.62532982, 0.34434655],
       [0.72190476, 0.64907652, 0.31571219],
       [0.2552381 , 0.24362357, 0.21292217],
       [0.40285714, 0.48900616, 0.23641703],
       [0.69714286, 0.64819701, 0.26138032],
       [0.8447619 , 0.64995602, 0.28193833],
       [0.52857143, 0.70712401, 0.30983847],
       [0.66761905, 0.73175022, 0.22173275],
       [0.67238095, 0.77308707, 0.23421439],
       [0.21428571, 0.30870712, 0.09838473],
       [0.24666667, 0.28847845, 0.07488987],
       [0.15714286, 0.26561126, 0.07488987],
       [0.31904762, 0.50483729, 0.22026432],
       [0.64666667, 0.45822339, 0.25330396],
       [0.68666667, 0.58575198, 0.29809104],
       [0.        , 0.        , 0.3979442 ],
       [0.66571429, 0.63676341, 0.24082232],
       [0.13619048, 0.2233949 , 0.20264317],
       [0.3152381 , 0.44415128, 0.24008811],
       [0.32095238, 0.59542656, 0.2298091 ],
       [0.63714286, 0.64467898, 0.20704846],
       [0.71428571, 0.58487247, 0.19970631],
       [0.16952381, 0.31662269, 0.20558003],
       [0.11904762, 0.17854002, 0.17474302],
       [0.05619048, 0.13808267, 0.14317181],
       [0.3647619 , 0.46877748, 0.14537445],
       [0.67238095, 0.58399296, 0.15932452],
       [0.62190476, 0.43711522, 0.20778267],
       [0.61428571, 0.67810026, 0.25844347],
       [0.75809524, 0.78715919, 0.14684288],
       [0.71142857, 0.61301671, 0.16519824],
       [0.32571429, 0.21284081, 0.14243759],
       [0.56285714, 0.61389622, 0.08370044],
       [0.74380952, 0.75813544, 0.20998532],
       [0.51142857, 0.40105541, 0.21806167],
       [0.65333333, 0.6939314 , 0.19603524],
       [0.80190476, 0.71240106, 0.25477239],
       [0.78095238, 0.57431838, 0.28487518],
       [0.28761905, 0.13104661, 0.11453744]])

In [ ]:
len(data1)

In [25]:
data1=pd.DataFrame(data1,columns=['A', 'B', 'C'])

In [26]:
data1

            A         B         C
0    0.000000  0.000000  0.000000
1    0.979048  0.508355  0.443465
2    0.000000  0.000000  1.000000
3    0.853333  0.689534  0.425844
4    0.693333  0.541777  0.360499
..        ...       ...       ...
125  0.511429  0.401055  0.218062
126  0.653333  0.693931  0.196035
127  0.801905  0.712401  0.254772
128  0.780952  0.574318  0.284875
129  0.287619  0.131047  0.114537

[130 rows x 3 columns]

In [27]:
training_size=round(len(data1)*0.80)
print(training_size)
X_train=data1[:training_size]
X_test=data1[training_size:]
print("X_train length:",X_train.shape)
print("X_test length:",X_test.shape)
y_train=data1[:training_size]
y_test=data1[training_size:]
print("y_train length:",y_train.shape)
print("y_test length:",y_test.shape)

104
X_train length: (104, 3)
X_test length: (26, 3)
y_train length: (104, 3)
y_test length: (26, 3)

In [29]:
Quality={'Model':[],'A':[],'B':[],'C':[]}

In [30]:
Quality

{'Model': [], 'A': [], 'B': [], 'C': []}

In [46]:
data1

            A         B         C
0    0.000000  0.000000  0.000000
1    0.979048  0.508355  0.443465
2    0.000000  0.000000  1.000000
3    0.853333  0.689534  0.425844
4    0.693333  0.541777  0.360499
..        ...       ...       ...
125  0.511429  0.401055  0.218062
126  0.653333  0.693931  0.196035
127  0.801905  0.712401  0.254772
128  0.780952  0.574318  0.284875
129  0.287619  0.131047  0.114537

[130 rows x 3 columns]

In [47]:
listt=['A', 'B', 'C']

In [48]:
listt

['A', 'B', 'C']

In [49]:
datasetTwo=df[listt]
test_obs = 28
train =datasetTwo[:-test_obs]
test = datasetTwo[-test_obs:]
from statsmodels.tsa.api import VAR
for i in [1,2,3,4,5,6,7,8,9,10]:
    model = VAR(train)
    results = model.fit(i)
    print('Order =', i)
    print('AIC: ', results.aic)
    print('BIC: ', results.bic)
    print()
x = model.select_order(maxlags=12)
order=x.selected_orders["aic"]
result = model.fit(order)

Order = 1
AIC:  3.213214327227525
BIC:  3.5239217153670803

Order = 2
AIC:  2.963237560192325
BIC:  3.510323299249824

Order = 3
AIC:  2.141687006486921
BIC:  2.92808696107316

Order = 4
AIC:  2.2244055920746417
BIC:  3.2531171397088494

Order = 5
AIC:  2.3584810929077626
BIC:  3.632564876084694

Order = 6
AIC:  2.357499363089601
BIC:  3.8800811017736283

Order = 7
AIC:  2.234835762783372
BIC:  4.009108129579538

Order = 8
AIC:  2.0847850209868297
BIC:  4.1140095813086415

Order = 9
AIC:  2.0380530244414556
BIC:  4.325562244063751

Order = 10
AIC:  2.181171983615749
BIC:  4.730371306067497

In [50]:
#forecast =result.forecast(result,steps=12)

In [51]:
data1.columns

Index(['A', 'B', 'C'], dtype='object')

In [52]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 130 entries, 0 to 129
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   DATE    130 non-null    datetime64[ns]
 1   A       130 non-null    float64
 2   B       130 non-null    float64
 3   C       130 non-null    float64
dtypes: datetime64[ns](1), float64(3)
memory usage: 4.2 KB

In [55]:
#import pandas as pd

# Assuming `model` is the fitted VAR model
# `data1` is the preprocessed dataset used for training
# `order` is the order of the VAR model

# Get the last lagged values from the training data as input for prediction
lagged_values = data1[-order:]

print("Lagged values shape:", lagged_values.shape)

if lagged_values.shape[0] < 10:
    print("Insufficient observations for prediction.")
else:
    # Predict the next 5 days
    predictions = model.forecast(y=lagged_values.values, steps=60)

    # Create a date range for the next 5 days
    last_date = pd.to_datetime(dataset["DATE"].iloc[-1])
    date_range = pd.date_range(last_date + pd.DateOffset(1), periods=60)

    # Convert the predictions array to a DataFrame and assign the date range as the index
    predictions_df = pd.DataFrame(predictions, columns=listt, index=date_range)

    # Print the predictions
    print(predictions_df)

Lagged values shape: (2, 3)
Insufficient observations for prediction.

In [56]:
dataset['DATE']=pd.to_datetime(dataset['DATE'])

In [54]:
# Assuming `model` is the fitted VAR model
# `data1` is the preprocessed dataset used for training

# Get the last lagged values from the training data as input for prediction
lagged_values = data1[-order:]

# Predict the next 5 days
predictions = results.forecast(y=lagged_values.values, steps=60)

# Create a date range for the next 5 days
last_date = pd.to_datetime(dataset["DATE"].iloc[-1])

date_range = pd.date_range(last_date + pd.DateOffset(1), periods=60)

# Convert the predictions array to a DataFrame and assign the date range as the index
predictions_df = pd.DataFrame(predictions, columns=listt, index=date_range)

# Print the predictions
print(predictions_df)

ValueError: y must by have at least order (10) observations. Got 2.