In [1]:
import pandas as pd
import datetime as dt

In [2]:
dataset=pd.read_csv("Chiller Cons1.csv")

In [3]:
dataset

           DATE      A     B      C
0    2023-10-06  10.28  5.78   6.04
1    2023-10-07   8.96  7.84  13.62
2    2023-10-08   4.53  3.64   5.80
3    2023-10-09   8.06  8.07   4.91
4    2023-10-10   9.26  9.01   6.07
..          ...    ...   ...    ...
106  2024-01-20   5.37  5.23   2.86
107  2024-01-21   4.72  3.73   2.97
108  2024-01-22   5.23  5.20   2.67
109  2024-01-23   5.50  5.59   3.47
110  2024-01-24   3.02  4.26   3.88

[111 rows x 4 columns]

In [4]:
dataset.columns

Index(['DATE', 'A', 'B', 'C'], dtype='object')

In [5]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 111 entries, 0 to 110
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   DATE    111 non-null    object
 1   A       111 non-null    float64
 2   B       111 non-null    float64
 3   C       111 non-null    float64
dtypes: float64(3), object(1)
memory usage: 3.6+ KB

In [6]:
dataset['DATE']=pd.to_datetime(dataset['DATE'])

In [7]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 111 entries, 0 to 110
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   DATE    111 non-null    datetime64[ns]
 1   A       111 non-null    float64
 2   B       111 non-null    float64
 3   C       111 non-null    float64
dtypes: datetime64[ns](1), float64(3)
memory usage: 3.6 KB

In [9]:
startdate="2023-10-06"
enddate="2024-01-24"
df=dataset[dataset['DATE'].between(startdate,enddate)][['DATE', 'A']]

In [10]:
df

          DATE      A
0   2023-10-06  10.28
1   2023-10-07   8.96
2   2023-10-08   4.53
3   2023-10-09   8.06
4   2023-10-10   9.26
..         ...    ...
106 2024-01-20   5.37
107 2024-01-21   4.72
108 2024-01-22   5.23
109 2024-01-23   5.50
110 2024-01-24   3.02

[111 rows x 2 columns]

In [11]:
column='A'

In [12]:
from sklearn.preprocessing import MinMaxScaler
Ms=MinMaxScaler()
data1=Ms.fit_transform(df[[column]])
print("Len:",data1.shape)

Len: (111, 1)

In [13]:
len(data1)

111

In [14]:
training_size=round(len(data1)*0.80)
print(training_size)
X_train=data1[:training_size]
X_test=data1[training_size:]
print("X_train length:",X_train.shape)
print("X_test length:",X_test.shape)
y_train=data1[:training_size]
y_test=data1[training_size:]
print("y_train length:",y_train.shape)
print("y_test length:",y_test.shape)

89
X_train length: (89, 1)
X_test length: (22, 1)
y_train length: (89, 1)
y_test length: (22, 1)

In [15]:
import warnings
warnings.filterwarnings("ignore")

In [16]:
#pip install statsmodels

In [17]:
from sklearn.metrics import mean_squared_error
trends=['n','t','c','ct']
orders=[(0,0,1),(0,0,2),(0,0,3)]
from statsmodels.tsa.arima.model import ARIMA
for td in trends:
        
        #print(td)
        #trendslist.append(td)
    model = ARIMA(X_train, order=(0,0,10),trend=td,)
    model_fit = model.fit()
        # make prediction
    y_pred= model_fit.predict(len(X_train), len(data1)-1)
        #print(y_pred)
    from sklearn.metrics import r2_score
    mse=mean_squared_error(y_test,y_pred,squared=False)
    from stockFunctions import rmsemape
    print("Trend={}".format(td))
    rmsemape(y_test,y_pred)
    print("************")

C:\Users\Hi\anaconda3\envs\aiads\Lib\site-packages\statsmodels\base\model.py:607: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  warnings.warn("Maximum Likelihood optimization failed to "

Trend=n
RMSE-Testset: 0.44155113442780314
maPe-Testset: 122304760134731.55
************

C:\Users\Hi\anaconda3\envs\aiads\Lib\site-packages\statsmodels\base\model.py:607: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  warnings.warn("Maximum Likelihood optimization failed to "

Trend=t
RMSE-Testset: 0.5693254296641055
maPe-Testset: 231966834506850.9
************

C:\Users\Hi\anaconda3\envs\aiads\Lib\site-packages\statsmodels\base\model.py:607: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  warnings.warn("Maximum Likelihood optimization failed to "

Trend=c
RMSE-Testset: 0.3110403057291011
maPe-Testset: 160478106964944.97
************
Trend=ct
RMSE-Testset: 0.23929678522174772
maPe-Testset: 124615908113504.94
************

C:\Users\Hi\anaconda3\envs\aiads\Lib\site-packages\statsmodels\base\model.py:607: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  warnings.warn("Maximum Likelihood optimization failed to "

In [19]:
len(y_test)

22

In [20]:
#i=1
td="ct"
model = ARIMA(X_train, order=(0,0,30),trend=td)
model_fit = model.fit()
# make prediction
y_pred= model_fit.predict(len(X_train), len(data1)-1)
#print(y_pred)
from sklearn.metrics import r2_score
mse=mean_squared_error(y_test,y_pred,squared=False)
from stockFunctions import rmsemape
print("Trend={}".format(td))
rmsemape(y_test,y_pred)
print("************")

C:\Users\Hi\anaconda3\envs\aiads\Lib\site-packages\statsmodels\base\model.py:607: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  warnings.warn("Maximum Likelihood optimization failed to "

Trend=ct
RMSE-Testset: 0.16806167212284184
maPe-Testset: 97098886423991.14
************

In [21]:
#pip install Pillow

In [22]:
#from stockFunctions import graph
#graph(y_test,y_pred,"Actual","predicted","Quality data","Time","Char A")

In [23]:
len(data1)

111

In [24]:
y_test

array([[0.47081712],
       [0.02626459],
       [0.56031128],
       [0.65953307],
       [0.46108949],
       [0.        ],
       [0.19941634],
       [0.34435798],
       [0.24319066],
       [0.58949416],
       [0.63521401],
       [0.51459144],
       [0.53988327],
       [0.52626459],
       [0.33268482],
       [0.41245136],
       [0.49416342],
       [0.52237354],
       [0.45914397],
       [0.50875486],
       [0.53501946],
       [0.29377432]])

In [25]:
from stockFunctions import conversionSingle
aTestNormTable=conversionSingle(y_test,[column])

In [26]:
aTestNormTable

           A
0   0.470817
1   0.026265
2   0.560311
3   0.659533
4   0.461089
5        0.0
6   0.199416
7   0.344358
8   0.243191
9   0.589494
10  0.635214
11  0.514591
12  0.539883
13  0.526265
14  0.332685
15  0.412451
16  0.494163
17  0.522374
18  0.459144
19  0.508755
20  0.535019
21  0.293774

In [27]:
actual_stock_price_test_ori=Ms.inverse_transform(aTestNormTable)

In [28]:
actual_stock_price_test_ori

array([[4.84],
       [0.27],
       [5.76],
       [6.78],
       [4.74],
       [0.  ],
       [2.05],
       [3.54],
       [2.5 ],
       [6.06],
       [6.53],
       [5.29],
       [5.55],
       [5.41],
       [3.42],
       [4.24],
       [5.08],
       [5.37],
       [4.72],
       [5.23],
       [5.5 ],
       [3.02]])

In [29]:
actual_stock_price_test_oriA=conversionSingle(actual_stock_price_test_ori,[column])

In [30]:
actual_stock_price_test_oriA

       A
0   4.84
1   0.27
2   5.76
3   6.78
4   4.74
5    0.0
6   2.05
7   3.54
8    2.5
9   6.06
10  6.53
11  5.29
12  5.55
13  5.41
14  3.42
15  4.24
16  5.08
17  5.37
18  4.72
19  5.23
20   5.5
21  3.02

In [31]:
from stockFunctions import conversionSingle
aTestNormTable=conversionSingle(y_test,[column])
actual_stock_price_test_ori=Ms.inverse_transform(aTestNormTable)
actual_stock_price_test_oriA=conversionSingle(actual_stock_price_test_ori,[column])

In [32]:
from stockFunctions import conversionSingle
pTestNormTable=conversionSingle(y_pred,[column])
predicted_stock_price_test_ori=Ms.inverse_transform(pTestNormTable)
predicted_stock_price_test_oriP=conversionSingle(predicted_stock_price_test_ori,[column])

In [33]:
#from stockFunctions import graph
#graph(actual_stock_price_test_oriA,predicted_stock_price_test_oriP,"Actual","Predicted","Quality data","Time","Char A")

In [34]:
from stockFunctions import rmsemape
rmsemape(actual_stock_price_test_oriA,predicted_stock_price_test_oriP)

RMSE-Testset: 1.727673989422814
maPe-Testset: 998176552438621.2

In [36]:
forecast=model_fit.predict(len(data1), len(data1)+10)

In [37]:
forecast

array([0.38121738, 0.43771858, 0.46054522, 0.44504469, 0.41038063,
       0.40470728, 0.40191763, 0.40175727, 0.40191253, 0.39909599,
       0.39627945])

In [38]:
from stockFunctions import conversionSingle
fTestNormTable=conversionSingle(forecast,["A"])
forecast_stock_price_test_ori=Ms.inverse_transform(fTestNormTable)
forecast_stock_price_test_oriF=conversionSingle(forecast_stock_price_test_ori,["A fore cast"])

In [39]:
forecast_stock_price_test_oriF

   A fore cast
0     3.918915
1     4.499747
2     4.734405
3     4.575059
4     4.218713
5     4.160391
6     4.131713
7     4.130065
8     4.131661
9     4.102707
10    4.073753